In [1]:
#importing the required libaries 
from __future__ import print_function, division
import pandas as pd

from __future__ import print_function, division
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Doing Business data from the World Bank
doing_biz = pd.read_excel('/home/mishraka/Documents/Manjula/Lambda_School/Hackathon_Project_datasets/Doing_Business/Rankings.xlsx')

In [3]:
doing_biz.head()

,Economy,globalRank,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency
0,New Zealand,1,1,6,45,1,1,2,10,60,21,31
1,Singapore,2,3,8,16,21,32,7,8,45,1,27
2,Denmark,3,42,4,21,11,44,38,9,1,14,6
3,"Hong Kong SAR, China",4,5,1,3,53,32,11,1,27,30,44
4,"Korea, Rep.",5,11,10,2,40,60,23,24,33,2,11

In [4]:
doing_biz.shape

(190, 12)

In [5]:
doing_biz.isna().sum()

Economy                              0
globalRank                           0
Starting a Business                  0
Dealing with Construction Permits    0
Getting Electricity                  0
Registering Property                 0
Getting Credit                       0
Protecting Minority Investors        0
Paying Taxes                         0
Trading across Borders               0
Enforcing Contracts                  0
Resolving Insolvency                 0
dtype: int64

In [6]:
#since that dataframe doesn't have info about continents,
#I downloaded another df containing info about the countries and continents
continents = pd.read_excel('/home/mishraka/Documents/Manjula/Lambda_School/Hackathon_Project_datasets/Doing_Business/countries.xlsx', sheet_name= 'sheet_1')

In [7]:
continents.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,SNA data for 2000-2011 are updated from offici...,Aruba
1,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania
4,AND,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...,Andorra

In [8]:
continents.isna().sum()

Country Code      0
Region           46
IncomeGroup      46
SpecialNotes    115
TableName         0
dtype: int64

In [9]:
continents.columns

Index(['Country Code', 'Region', 'IncomeGroup', 'SpecialNotes', 'TableName'], dtype='object')

In [10]:
#realized I didn't have to do it
#but for convinience, lets change the column names
continents_updated = continents.rename(index=str, columns={'Country Code': 'country_code', 
                                                           'Region': 'region', "IncomeGroup": 'income_group',
                                                           'SpecialNotes': 'special_notes',
                                                           'TableName': 'table_name'})

In [11]:
continents_updated.columns

Index(['country_code', 'region', 'income_group', 'special_notes',
       'table_name'],
      dtype='object')

In [12]:
continents_updated.head()

,country_code,region,income_group,special_notes,table_name
0,ABW,Latin America & Caribbean,High income,SNA data for 2000-2011 are updated from offici...,Aruba
1,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania
4,AND,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...,Andorra

In [13]:
#drop the columns I don't need
continents_new = continents_updated.drop(columns = ['income_group', 'special_notes'])

In [14]:
continents_new.head()

  country_code                     region   table_name
0          ABW  Latin America & Caribbean        Aruba
1          AFG                 South Asia  Afghanistan
2          AGO         Sub-Saharan Africa       Angola
3          ALB      Europe & Central Asia      Albania
4          AND      Europe & Central Asia      Andorra

In [15]:
continents_new.shape

(263, 3)

In [16]:
#checking for any duplicate columns
continents_new.drop_duplicates()

,country_code,region,table_name
0,ABW,Latin America & Caribbean,Aruba
1,AFG,South Asia,Afghanistan
2,AGO,Sub-Saharan Africa,Angola
3,ALB,Europe & Central Asia,Albania
4,AND,Europe & Central Asia,Andorra
5,ARB,NaN,Arab World
6,ARE,Middle East & North Africa,United Arab Emirates
7,ARG,Latin America & Caribbean,Argentina
8,ARM,Europe & Central Asia,Armenia
9,ASM,East Asia & Pacific,American Samoa
10,ATG,Latin America & Caribbean,Antigua and Barbuda
11,AUS,East Asia & Pacific,Australia
12,AUT,Europe & Central Asia,Austria
13,AZE,Europe & Central Asia,Azerbaijan
14,BDI,Sub-Saharan Africa,Burundi
15,BEL,Europe & Central Asia,Belgium
16,BEN,Sub-Saharan Africa,Benin
17,BFA,Sub-Saharan Africa,Burkina Faso
18,BGD,South Asia,Bangladesh
19,BGR,Europe & Central Asia,Bulgaria
20,BHR,Middle East & North Africa,Bahrain
21,BHS,Latin America & Caribbean,"Bahamas, The"
22,BIH,Europe & Central Asia,Bosnia and Herzegovina
23,BLR,Europe & Central Asia,Belarus
24,BLZ,Latin America & Caribbean,Belize
25,BMU,North America,Bermuda
26,BOL,Latin America & Caribbean,Bolivia
27,BRA,Latin America & Caribbean,Brazil
28,BRB,Latin America & Caribbean,Barbados
29,BRN,East Asia & Pacific,Brunei Darussalam
...,...,...,...
233,TLA,NaN,Latin America & Caribbean (IDA & IBRD)
234,TLS,East Asia & Pacific,Timor-Leste
235,TMN,NaN,Middle East & North Africa (IDA & IBRD)
236,TON,East Asia & Pacific,Tonga
237,TSA,NaN,South Asia (IDA & IBRD)
238,TSS,NaN,Sub-Saharan Africa (IDA & IBRD)
239,TTO,Latin America & Caribbean,Trinidad and Tobago
240,TUN,Middle East & North Africa,Tunisia
241,TUR,Europe & Central Asia,Turkey
242,TUV,East Asia & Pacific,Tuvalu
243,TZA,Sub-Saharan Africa,Tanzania
244,UGA,Sub-Saharan Africa,Uganda
245,UKR,Europe & Central Asia,Ukraine
246,UMC,NaN,Upper middle income
247,URY,Latin America & Caribbean,Uruguay
248,USA,North America,United States
249,UZB,Europe & Central Asia,Uzbekistan
250,VCT,Latin America & Caribbean,St. Vincent and the Grenadines
251,VEN,Latin America & Caribbean,"Venezuela, RB"
252,VGB,Latin America & Caribbean,British Virgin Islands
253,VIR,Latin America & Caribbean,Virgin Islands (U.S.)
254,VNM,East Asia & Pacific,Vietnam
255,VUT,East Asia & Pacific,Vanuatu
256,WLD,NaN,World
257,WSM,East Asia & Pacific,Samoa
258,XKX,Europe & Central Asia,Kosovo
259,YEM,Middle East & North Africa,"Yemen, Rep."
260,ZAF,Sub-Saharan Africa,South Africa
261,ZMB,Sub-Saharan Africa,Zambia
262,ZWE,Sub-Saharan Africa,Zimbabwe

In [17]:
#unnecessary but lets put the df in an order
continents_new.sort_values(by='table_name', ascending=True)

    country_code                      region                table_name
1            AFG                  South Asia               Afghanistan
3            ALB       Europe & Central Asia                   Albania
58           DZA  Middle East & North Africa                   Algeria
9            ASM         East Asia & Pacific            American Samoa
4            AND       Europe & Central Asia                   Andorra
2            AGO          Sub-Saharan Africa                    Angola
10           ATG   Latin America & Caribbean       Antigua and Barbuda
5            ARB                         NaN                Arab World
7            ARG   Latin America & Caribbean                 Argentina
8            ARM       Europe & Central Asia                   Armenia
0            ABW   Latin America & Caribbean                     Aruba
11           AUS         East Asia & Pacific                 Australia
12           AUT       Europe & Central Asia                   Austria
13           AZE       Europe & Central Asia                Azerbaijan
21           BHS   Latin America & Caribbean              Bahamas, The
20           BHR  Middle East & North Africa                   Bahrain
18           BGD                  South Asia                Bangladesh
28           BRB   Latin America & Caribbean                  Barbados
23           BLR       Europe & Central Asia                   Belarus
15           BEL       Europe & Central Asia                   Belgium
24           BLZ   Latin America & Caribbean                    Belize
16           BEN          Sub-Saharan Africa                     Benin
25           BMU               North America                   Bermuda
30           BTN                  South Asia                    Bhutan
26           BOL   Latin America & Caribbean                   Bolivia
22           BIH       Europe & Central Asia    Bosnia and Herzegovina
31           BWA          Sub-Saharan Africa                  Botswana
27           BRA   Latin America & Caribbean                    Brazil
252          VGB   Latin America & Caribbean    British Virgin Islands
29           BRN         East Asia & Pacific         Brunei Darussalam
..           ...                         ...                       ...
216          STP          Sub-Saharan Africa     São Tomé and Principe
231          TJK       Europe & Central Asia                Tajikistan
243          TZA          Sub-Saharan Africa                  Tanzania
230          THA         East Asia & Pacific                  Thailand
234          TLS         East Asia & Pacific               Timor-Leste
229          TGO          Sub-Saharan Africa                      Togo
236          TON         East Asia & Pacific                     Tonga
239          TTO   Latin America & Caribbean       Trinidad and Tobago
240          TUN  Middle East & North Africa                   Tunisia
241          TUR       Europe & Central Asia                    Turkey
232          TKM       Europe & Central Asia              Turkmenistan
225          TCA   Latin America & Caribbean  Turks and Caicos Islands
242          TUV         East Asia & Pacific                    Tuvalu
244          UGA          Sub-Saharan Africa                    Uganda
245          UKR       Europe & Central Asia                   Ukraine
6            ARE  Middle East & North Africa      United Arab Emirates
79           GBR       Europe & Central Asia            United Kingdom
248          USA               North America             United States
246          UMC                         NaN       Upper middle income
247          URY   Latin America & Caribbean                   Uruguay
249          UZB       Europe & Central Asia                Uzbekistan
255          VUT         East Asia & Pacific                   Vanuatu
251          VEN   Latin America & Caribbean             Venezuela, RB
254          VNM         East Asia & Pacific                   Vietnam
253          VIR   Latin America & Caribbean     Virgin Islands (U.S.)
193          PSE  Middle East & North Africa        West Bank and Gaza
256          WLD                         NaN                     World
259          YEM  Middle East & North Africa               Yemen, Rep.
261          ZMB          Sub-Saharan Africa                    Zambia
262          ZWE          Sub-Saharan Africa                  Zimbabwe

[263 rows x 3 columns]

In [18]:
#quickly check how df looks using groupby
grouped_continent_new = continents_new.groupby([ "region", "table_name"]).count()

In [19]:
grouped_continent_new

                                               country_code
region              table_name
East Asia & Pacific American Samoa                        1
                    Australia                             1
                    Brunei Darussalam                     1
                    Cambodia                              1
                    China                                 1
                    Fiji                                  1
                    French Polynesia                      1
                    Guam                                  1
                    Hong Kong SAR, China                  1
                    Indonesia                             1
                    Japan                                 1
                    Kiribati                              1
                    Korea, Dem. People's Rep.             1
                    Korea, Rep.                           1
                    Lao PDR                               1
                    Macao SAR, China                      1
                    Malaysia                              1
                    Marshall Islands                      1
                    Micronesia, Fed. Sts.                 1
                    Mongolia                              1
                    Myanmar                               1
                    Nauru                                 1
                    New Caledonia                         1
                    New Zealand                           1
                    Northern Mariana Islands              1
                    Palau                                 1
                    Papua New Guinea                      1
                    Philippines                           1
                    Samoa                                 1
                    Singapore                             1
...                                                     ...
Sub-Saharan Africa  Gambia, The                           1
                    Ghana                                 1
                    Guinea                                1
                    Guinea-Bissau                         1
                    Kenya                                 1
                    Lesotho                               1
                    Liberia                               1
                    Madagascar                            1
                    Malawi                                1
                    Mali                                  1
                    Mauritania                            1
                    Mauritius                             1
                    Mozambique                            1
                    Namibia                               1
                    Niger                                 1
                    Nigeria                               1
                    Rwanda                                1
                    Senegal                               1
                    Seychelles                            1
                    Sierra Leone                          1
                    Somalia                               1
                    South Africa                          1
                    South Sudan                           1
                    Sudan                                 1
                    São Tomé and Principe                 1
                    Tanzania                              1
                    Togo                                  1
                    Uganda                                1
                    Zambia                                1
                    Zimbabwe                              1

[217 rows x 1 columns]

<span class="mark">This was a very important discovery to be able to make dictionary</span>

In [20]:
#convert country name and continent into dictonary format
continent_dict = dict(zip(continents_new.table_name, continents_new.region))

In [21]:
continent_dict

{'Aruba': 'Latin America & Caribbean',
 'Afghanistan': 'South Asia',
 'Angola': 'Sub-Saharan Africa',
 'Albania': 'Europe & Central Asia',
 'Andorra': 'Europe & Central Asia',
 'Arab World': nan,
 'United Arab Emirates': 'Middle East & North Africa',
 'Argentina': 'Latin America & Caribbean',
 'Armenia': 'Europe & Central Asia',
 'American Samoa': 'East Asia & Pacific',
 'Antigua and Barbuda': 'Latin America & Caribbean',
 'Australia': 'East Asia & Pacific',
 'Austria': 'Europe & Central Asia',
 'Azerbaijan': 'Europe & Central Asia',
 'Burundi': 'Sub-Saharan Africa',
 'Belgium': 'Europe & Central Asia',
 'Benin': 'Sub-Saharan Africa',
 'Burkina Faso': 'Sub-Saharan Africa',
 'Bangladesh': 'South Asia',
 'Bulgaria': 'Europe & Central Asia',
 'Bahrain': 'Middle East & North Africa',
 'Bahamas, The': 'Latin America & Caribbean',
 'Bosnia and Herzegovina': 'Europe & Central Asia',
 'Belarus': 'Europe & Central Asia',
 'Belize': 'Latin America & Caribbean',
 'Bermuda': 'North America',
 'Bolivia': 'Latin America & Caribbean',
 'Brazil': 'Latin America & Caribbean',
 'Barbados': 'Latin America & Caribbean',
 'Brunei Darussalam': 'East Asia & Pacific',
 'Bhutan': 'South Asia',
 'Botswana': 'Sub-Saharan Africa',
 'Central African Republic': 'Sub-Saharan Africa',
 'Canada': 'North America',
 'Central Europe and the Baltics': nan,
 'Switzerland': 'Europe & Central Asia',
 'Channel Islands': 'Europe & Central Asia',
 'Chile': 'Latin America & Caribbean',
 'China': 'East Asia & Pacific',
 "Côte d'Ivoire": 'Sub-Saharan Africa',
 'Cameroon': 'Sub-Saharan Africa',
 'Congo, Dem. Rep.': 'Sub-Saharan Africa',
 'Congo, Rep.': 'Sub-Saharan Africa',
 'Colombia': 'Latin America & Caribbean',
 'Comoros': 'Sub-Saharan Africa',
 'Cabo Verde': 'Sub-Saharan Africa',
 'Costa Rica': 'Latin America & Caribbean',
 'Caribbean small states': nan,
 'Cuba': 'Latin America & Caribbean',
 'Curaçao': 'Latin America & Caribbean',
 'Cayman Islands': 'Latin America & Caribbean',
 'Cyprus': 'Europe & Central Asia',
 'Czech Republic': 'Europe & Central Asia',
 'Germany': 'Europe & Central Asia',
 'Djibouti': 'Middle East & North Africa',
 'Dominica': 'Latin America & Caribbean',
 'Denmark': 'Europe & Central Asia',
 'Dominican Republic': 'Latin America & Caribbean',
 'Algeria': 'Middle East & North Africa',
 'East Asia & Pacific (excluding high income)': nan,
 'Early-demographic dividend': nan,
 'East Asia & Pacific': nan,
 'Europe & Central Asia (excluding high income)': nan,
 'Europe & Central Asia': nan,
 'Ecuador': 'Latin America & Caribbean',
 'Egypt, Arab Rep.': 'Middle East & North Africa',
 'Euro area': nan,
 'Eritrea': 'Sub-Saharan Africa',
 'Spain': 'Europe & Central Asia',
 'Estonia': 'Europe & Central Asia',
 'Ethiopia': 'Sub-Saharan Africa',
 'European Union': nan,
 'Fragile and conflict affected situations': nan,
 'Finland': 'Europe & Central Asia',
 'Fiji': 'East Asia & Pacific',
 'France': 'Europe & Central Asia',
 'Faroe Islands': 'Europe & Central Asia',
 'Micronesia, Fed. Sts.': 'East Asia & Pacific',
 'Gabon': 'Sub-Saharan Africa',
 'United Kingdom': 'Europe & Central Asia',
 'Georgia': 'Europe & Central Asia',
 'Ghana': 'Sub-Saharan Africa',
 'Gibraltar': 'Europe & Central Asia',
 'Guinea': 'Sub-Saharan Africa',
 'Gambia, The': 'Sub-Saharan Africa',
 'Guinea-Bissau': 'Sub-Saharan Africa',
 'Equatorial Guinea': 'Sub-Saharan Africa',
 'Greece': 'Europe & Central Asia',
 'Grenada': 'Latin America & Caribbean',
 'Greenland': 'Europe & Central Asia',
 'Guatemala': 'Latin America & Caribbean',
 'Guam': 'East Asia & Pacific',
 'Guyana': 'Latin America & Caribbean',
 'High income': nan,
 'Hong Kong SAR, China': 'East Asia & Pacific',
 'Honduras': 'Latin America & Caribbean',
 'Heavily indebted poor countries (HIPC)': nan,
 'Croatia': 'Europe & Central Asia',
 'Haiti': 'Latin America & Caribbean',
 'Hungary': 'Europe & Central Asia',
 'IBRD only': nan,
 'IDA & IBRD total': nan,
 'IDA total': nan,
 'IDA blend': nan,
 'Indonesia': 'East Asia & Pacific',
 'IDA only': nan,
 'Isle of Man': 'Europe & Central Asia',
 'India': 'South Asia',
 'Ireland': 'Europe & Central Asia',
 'Iran, Islamic Rep.': 'Middle East & North Africa',
 'Iraq': 'Middle East & North Africa',
 'Iceland': 'Europe & Central Asia',
 'Israel': 'Middle East & North Africa',
 'Italy': 'Europe & Central Asia',
 'Jamaica': 'Latin America & Caribbean',
 'Jordan': 'Middle East & North Africa',
 'Japan': 'East Asia & Pacific',
 'Kazakhstan': 'Europe & Central Asia',
 'Kenya': 'Sub-Saharan Africa',
 'Kyrgyz Republic': 'Europe & Central Asia',
 'Cambodia': 'East Asia & Pacific',
 'Kiribati': 'East Asia & Pacific',
 'St. Kitts and Nevis': 'Latin America & Caribbean',
 'Korea, Rep.': 'East Asia & Pacific',
 'Kuwait': 'Middle East & North Africa',
 'Latin America & Caribbean (excluding high income)': nan,
 'Lao PDR': 'East Asia & Pacific',
 'Lebanon': 'Middle East & North Africa',
 'Liberia': 'Sub-Saharan Africa',
 'Libya': 'Middle East & North Africa',
 'St. Lucia': 'Latin America & Caribbean',
 'Latin America & Caribbean': nan,
 'Least developed countries: UN classification': nan,
 'Low income': nan,
 'Liechtenstein': 'Europe & Central Asia',
 'Sri Lanka': 'South Asia',
 'Lower middle income': nan,
 'Low & middle income': nan,
 'Lesotho': 'Sub-Saharan Africa',
 'Late-demographic dividend': nan,
 'Lithuania': 'Europe & Central Asia',
 'Luxembourg': 'Europe & Central Asia',
 'Latvia': 'Europe & Central Asia',
 'Macao SAR, China': 'East Asia & Pacific',
 'St. Martin (French part)': 'Latin America & Caribbean',
 'Morocco': 'Middle East & North Africa',
 'Monaco': 'Europe & Central Asia',
 'Moldova': 'Europe & Central Asia',
 'Madagascar': 'Sub-Saharan Africa',
 'Maldives': 'South Asia',
 'Middle East & North Africa': nan,
 'Mexico': 'Latin America & Caribbean',
 'Marshall Islands': 'East Asia & Pacific',
 'Middle income': nan,
 'Macedonia, FYR': 'Europe & Central Asia',
 'Mali': 'Sub-Saharan Africa',
 'Malta': 'Middle East & North Africa',
 'Myanmar': 'East Asia & Pacific',
 'Middle East & North Africa (excluding high income)': nan,
 'Montenegro': 'Europe & Central Asia',
 'Mongolia': 'East Asia & Pacific',
 'Northern Mariana Islands': 'East Asia & Pacific',
 'Mozambique': 'Sub-Saharan Africa',
 'Mauritania': 'Sub-Saharan Africa',
 'Mauritius': 'Sub-Saharan Africa',
 'Malawi': 'Sub-Saharan Africa',
 'Malaysia': 'East Asia & Pacific',
 'North America': nan,
 'Namibia': 'Sub-Saharan Africa',
 'New Caledonia': 'East Asia & Pacific',
 'Niger': 'Sub-Saharan Africa',
 'Nigeria': 'Sub-Saharan Africa',
 'Nicaragua': 'Latin America & Caribbean',
 'Netherlands': 'Europe & Central Asia',
 'Norway': 'Europe & Central Asia',
 'Nepal': 'South Asia',
 'Nauru': 'East Asia & Pacific',
 'New Zealand': 'East Asia & Pacific',
 'OECD members': nan,
 'Oman': 'Middle East & North Africa',
 'Other small states': nan,
 'Pakistan': 'South Asia',
 'Panama': 'Latin America & Caribbean',
 'Peru': 'Latin America & Caribbean',
 'Philippines': 'East Asia & Pacific',
 'Palau': 'East Asia & Pacific',
 'Papua New Guinea': 'East Asia & Pacific',
 'Poland': 'Europe & Central Asia',
 'Pre-demographic dividend': nan,
 'Puerto Rico': 'Latin America & Caribbean',
 "Korea, Dem. People's Rep.": 'East Asia & Pacific',
 'Portugal': 'Europe & Central Asia',
 'Paraguay': 'Latin America & Caribbean',
 'West Bank and Gaza': 'Middle East & North Africa',
 'Pacific island small states': nan,
 'Post-demographic dividend': nan,
 'French Polynesia': 'East Asia & Pacific',
 'Qatar': 'Middle East & North Africa',
 'Romania': 'Europe & Central Asia',
 'Russian Federation': 'Europe & Central Asia',
 'Rwanda': 'Sub-Saharan Africa',
 'South Asia': nan,
 'Saudi Arabia': 'Middle East & North Africa',
 'Sudan': 'Sub-Saharan Africa',
 'Senegal': 'Sub-Saharan Africa',
 'Singapore': 'East Asia & Pacific',
 'Solomon Islands': 'East Asia & Pacific',
 'Sierra Leone': 'Sub-Saharan Africa',
 'El Salvador': 'Latin America & Caribbean',
 'San Marino': 'Europe & Central Asia',
 'Somalia': 'Sub-Saharan Africa',
 'Serbia': 'Europe & Central Asia',
 'Sub-Saharan Africa (excluding high income)': nan,
 'South Sudan': 'Sub-Saharan Africa',
 'Sub-Saharan Africa': nan,
 'Small states': nan,
 'São Tomé and Principe': 'Sub-Saharan Africa',
 'Suriname': 'Latin America & Caribbean',
 'Slovak Republic': 'Europe & Central Asia',
 'Slovenia': 'Europe & Central Asia',
 'Sweden': 'Europe & Central Asia',
 'Eswatini': 'Sub-Saharan Africa',
 'Sint Maarten (Dutch part)': 'Latin America & Caribbean',
 'Seychelles': 'Sub-Saharan Africa',
 'Syrian Arab Republic': 'Middle East & North Africa',
 'Turks and Caicos Islands': 'Latin America & Caribbean',
 'Chad': 'Sub-Saharan Africa',
 'East Asia & Pacific (IDA & IBRD)': nan,
 'Europe & Central Asia (IDA & IBRD)': nan,
 'Togo': 'Sub-Saharan Africa',
 'Thailand': 'East Asia & Pacific',
 'Tajikistan': 'Europe & Central Asia',
 'Turkmenistan': 'Europe & Central Asia',
 'Latin America & Caribbean (IDA & IBRD)': nan,
 'Timor-Leste': 'East Asia & Pacific',
 'Middle East & North Africa (IDA & IBRD)': nan,
 'Tonga': 'East Asia & Pacific',
 'South Asia (IDA & IBRD)': nan,
 'Sub-Saharan Africa (IDA & IBRD)': nan,
 'Trinidad and Tobago': 'Latin America & Caribbean',
 'Tunisia': 'Middle East & North Africa',
 'Turkey': 'Europe & Central Asia',
 'Tuvalu': 'East Asia & Pacific',
 'Tanzania': 'Sub-Saharan Africa',
 'Uganda': 'Sub-Saharan Africa',
 'Ukraine': 'Europe & Central Asia',
 'Upper middle income': nan,
 'Uruguay': 'Latin America & Caribbean',
 'United States': 'North America',
 'Uzbekistan': 'Europe & Central Asia',
 'St. Vincent and the Grenadines': 'Latin America & Caribbean',
 'Venezuela, RB': 'Latin America & Caribbean',
 'British Virgin Islands': 'Latin America & Caribbean',
 'Virgin Islands (U.S.)': 'Latin America & Caribbean',
 'Vietnam': 'East Asia & Pacific',
 'Vanuatu': 'East Asia & Pacific',
 'World': nan,
 'Samoa': 'East Asia & Pacific',
 'Kosovo': 'Europe & Central Asia',
 'Yemen, Rep.': 'Middle East & North Africa',
 'South Africa': 'Sub-Saharan Africa',
 'Zambia': 'Sub-Saharan Africa',
 'Zimbabwe': 'Sub-Saharan Africa'}

In [22]:
#make a new df with only Economy(name of countries)
doing_biz_country_names = doing_biz[['Economy']]

In [23]:
doing_biz_country_names.shape

(190, 1)

In [24]:
doing_biz_country_names.columns

Index(['Economy'], dtype='object')

In [25]:
doing_biz_country_names.sort_values(by='Economy', ascending=True)

                    Economy
166             Afghanistan
62                  Albania
156                 Algeria
172                  Angola
111     Antigua and Barbuda
118               Argentina
40                  Armenia
17                Australia
25                  Austria
24               Azerbaijan
117            Bahamas, The
61                  Bahrain
175              Bangladesh
128                Barbados
36                  Belarus
44                  Belgium
124                  Belize
152                   Benin
80                   Bhutan
155                 Bolivia
88   Bosnia and Herzegovina
85                 Botswana
108                  Brazil
54        Brunei Darussalam
58                 Bulgaria
150            Burkina Faso
167                 Burundi
130              Cabo Verde
137                Cambodia
165                Cameroon
..                      ...
161                   Sudan
164                Suriname
11                   Sweden
37              Switzerland
178    Syrian Arab Republic
169   São Tomé and Príncipe
12            Taiwan, China
125              Tajikistan
143                Tanzania
26                 Thailand
177             Timor-Leste
136                    Togo
90                    Tonga
104     Trinidad and Tobago
79                  Tunisia
42                   Turkey
126                  Uganda
70                  Ukraine
10     United Arab Emirates
8            United Kingdom
7             United States
94                  Uruguay
75               Uzbekistan
93                  Vanuatu
187           Venezuela, RB
68                  Vietnam
115      West Bank and Gaza
186             Yemen, Rep.
86                   Zambia
154                Zimbabwe

[190 rows x 1 columns]

Below, I thought of using the method to create a column of the same length, realized there is a better way to do it

In [26]:
# # mask = (doing_biz_country_names['continent'])
# # doing_biz_country_names['Continent']  = pd.Categorical(np.where(mask, 'continent_name'))

# mask = doing_biz_country_names.continent.between(1,191)
# doing_biz_country_names['Continent']  = pd.Categorical(np.where(mask,'continent_name', "continent_name" ))
# print (doing_biz_country_names)

In [90]:
# doing_biz_contries = doing_biz_country_names.drop(columns = ['continent'])

In [27]:
# doing_biz_contries.shape

In [28]:
# doing_biz_contries

In [29]:
print(continent_dict)

{'Aruba': 'Latin America & Caribbean', 'Afghanistan': 'South Asia', 'Angola': 'Sub-Saharan Africa', 'Albania': 'Europe & Central Asia', 'Andorra': 'Europe & Central Asia', 'Arab World': nan, 'United Arab Emirates': 'Middle East & North Africa', 'Argentina': 'Latin America & Caribbean', 'Armenia': 'Europe & Central Asia', 'American Samoa': 'East Asia & Pacific', 'Antigua and Barbuda': 'Latin America & Caribbean', 'Australia': 'East Asia & Pacific', 'Austria': 'Europe & Central Asia', 'Azerbaijan': 'Europe & Central Asia', 'Burundi': 'Sub-Saharan Africa', 'Belgium': 'Europe & Central Asia', 'Benin': 'Sub-Saharan Africa', 'Burkina Faso': 'Sub-Saharan Africa', 'Bangladesh': 'South Asia', 'Bulgaria': 'Europe & Central Asia', 'Bahrain': 'Middle East & North Africa', 'Bahamas, The': 'Latin America & Caribbean', 'Bosnia and Herzegovina': 'Europe & Central Asia', 'Belarus': 'Europe & Central Asia', 'Belize': 'Latin America & Caribbean', 'Bermuda': 'North America', 'Bolivia': 'Latin America & Caribbean', 'Brazil': 'Latin America & Caribbean', 'Barbados': 'Latin America & Caribbean', 'Brunei Darussalam': 'East Asia & Pacific', 'Bhutan': 'South Asia', 'Botswana': 'Sub-Saharan Africa', 'Central African Republic': 'Sub-Saharan Africa', 'Canada': 'North America', 'Central Europe and the Baltics': nan, 'Switzerland': 'Europe & Central Asia', 'Channel Islands': 'Europe & Central Asia', 'Chile': 'Latin America & Caribbean', 'China': 'East Asia & Pacific', "Côte d'Ivoire": 'Sub-Saharan Africa', 'Cameroon': 'Sub-Saharan Africa', 'Congo, Dem. Rep.': 'Sub-Saharan Africa', 'Congo, Rep.': 'Sub-Saharan Africa', 'Colombia': 'Latin America & Caribbean', 'Comoros': 'Sub-Saharan Africa', 'Cabo Verde': 'Sub-Saharan Africa', 'Costa Rica': 'Latin America & Caribbean', 'Caribbean small states': nan, 'Cuba': 'Latin America & Caribbean', 'Curaçao': 'Latin America & Caribbean', 'Cayman Islands': 'Latin America & Caribbean', 'Cyprus': 'Europe & Central Asia', 'Czech Republic': 'Europe & Central Asia', 'Germany': 'Europe & Central Asia', 'Djibouti': 'Middle East & North Africa', 'Dominica': 'Latin America & Caribbean', 'Denmark': 'Europe & Central Asia', 'Dominican Republic': 'Latin America & Caribbean', 'Algeria': 'Middle East & North Africa', 'East Asia & Pacific (excluding high income)': nan, 'Early-demographic dividend': nan, 'East Asia & Pacific': nan, 'Europe & Central Asia (excluding high income)': nan, 'Europe & Central Asia': nan, 'Ecuador': 'Latin America & Caribbean', 'Egypt, Arab Rep.': 'Middle East & North Africa', 'Euro area': nan, 'Eritrea': 'Sub-Saharan Africa', 'Spain': 'Europe & Central Asia', 'Estonia': 'Europe & Central Asia', 'Ethiopia': 'Sub-Saharan Africa', 'European Union': nan, 'Fragile and conflict affected situations': nan, 'Finland': 'Europe & Central Asia', 'Fiji': 'East Asia & Pacific', 'France': 'Europe & Central Asia', 'Faroe Islands': 'Europe & Central Asia', 'Micronesia, Fed. Sts.': 'East Asia & Pacific', 'Gabon': 'Sub-Saharan Africa', 'United Kingdom': 'Europe & Central Asia', 'Georgia': 'Europe & Central Asia', 'Ghana': 'Sub-Saharan Africa', 'Gibraltar': 'Europe & Central Asia', 'Guinea': 'Sub-Saharan Africa', 'Gambia, The': 'Sub-Saharan Africa', 'Guinea-Bissau': 'Sub-Saharan Africa', 'Equatorial Guinea': 'Sub-Saharan Africa', 'Greece': 'Europe & Central Asia', 'Grenada': 'Latin America & Caribbean', 'Greenland': 'Europe & Central Asia', 'Guatemala': 'Latin America & Caribbean', 'Guam': 'East Asia & Pacific', 'Guyana': 'Latin America & Caribbean', 'High income': nan, 'Hong Kong SAR, China': 'East Asia & Pacific', 'Honduras': 'Latin America & Caribbean', 'Heavily indebted poor countries (HIPC)': nan, 'Croatia': 'Europe & Central Asia', 'Haiti': 'Latin America & Caribbean', 'Hungary': 'Europe & Central Asia', 'IBRD only': nan, 'IDA & IBRD total': nan, 'IDA total': nan, 'IDA blend': nan, 'Indonesia': 'East Asia & Pacific', 'IDA only': nan, 'Isle of Man': 'Europe & Central Asia', 'India': 'South Asia', 'Ireland': 'Europe & Central Asia', 'Iran, Islamic Rep.': 'Middle East & North Africa', 'Iraq': 'Middle East & North Africa', 'Iceland': 'Europe & Central Asia', 'Israel': 'Middle East & North Africa', 'Italy': 'Europe & Central Asia', 'Jamaica': 'Latin America & Caribbean', 'Jordan': 'Middle East & North Africa', 'Japan': 'East Asia & Pacific', 'Kazakhstan': 'Europe & Central Asia', 'Kenya': 'Sub-Saharan Africa', 'Kyrgyz Republic': 'Europe & Central Asia', 'Cambodia': 'East Asia & Pacific', 'Kiribati': 'East Asia & Pacific', 'St. Kitts and Nevis': 'Latin America & Caribbean', 'Korea, Rep.': 'East Asia & Pacific', 'Kuwait': 'Middle East & North Africa', 'Latin America & Caribbean (excluding high income)': nan, 'Lao PDR': 'East Asia & Pacific', 'Lebanon': 'Middle East & North Africa', 'Liberia': 'Sub-Saharan Africa', 'Libya': 'Middle East & North Africa', 'St. Lucia': 'Latin America & Caribbean', 'Latin America & Caribbean': nan, 'Least developed countries: UN classification': nan, 'Low income': nan, 'Liechtenstein': 'Europe & Central Asia', 'Sri Lanka': 'South Asia', 'Lower middle income': nan, 'Low & middle income': nan, 'Lesotho': 'Sub-Saharan Africa', 'Late-demographic dividend': nan, 'Lithuania': 'Europe & Central Asia', 'Luxembourg': 'Europe & Central Asia', 'Latvia': 'Europe & Central Asia', 'Macao SAR, China': 'East Asia & Pacific', 'St. Martin (French part)': 'Latin America & Caribbean', 'Morocco': 'Middle East & North Africa', 'Monaco': 'Europe & Central Asia', 'Moldova': 'Europe & Central Asia', 'Madagascar': 'Sub-Saharan Africa', 'Maldives': 'South Asia', 'Middle East & North Africa': nan, 'Mexico': 'Latin America & Caribbean', 'Marshall Islands': 'East Asia & Pacific', 'Middle income': nan, 'Macedonia, FYR': 'Europe & Central Asia', 'Mali': 'Sub-Saharan Africa', 'Malta': 'Middle East & North Africa', 'Myanmar': 'East Asia & Pacific', 'Middle East & North Africa (excluding high income)': nan, 'Montenegro': 'Europe & Central Asia', 'Mongolia': 'East Asia & Pacific', 'Northern Mariana Islands': 'East Asia & Pacific', 'Mozambique': 'Sub-Saharan Africa', 'Mauritania': 'Sub-Saharan Africa', 'Mauritius': 'Sub-Saharan Africa', 'Malawi': 'Sub-Saharan Africa', 'Malaysia': 'East Asia & Pacific', 'North America': nan, 'Namibia': 'Sub-Saharan Africa', 'New Caledonia': 'East Asia & Pacific', 'Niger': 'Sub-Saharan Africa', 'Nigeria': 'Sub-Saharan Africa', 'Nicaragua': 'Latin America & Caribbean', 'Netherlands': 'Europe & Central Asia', 'Norway': 'Europe & Central Asia', 'Nepal': 'South Asia', 'Nauru': 'East Asia & Pacific', 'New Zealand': 'East Asia & Pacific', 'OECD members': nan, 'Oman': 'Middle East & North Africa', 'Other small states': nan, 'Pakistan': 'South Asia', 'Panama': 'Latin America & Caribbean', 'Peru': 'Latin America & Caribbean', 'Philippines': 'East Asia & Pacific', 'Palau': 'East Asia & Pacific', 'Papua New Guinea': 'East Asia & Pacific', 'Poland': 'Europe & Central Asia', 'Pre-demographic dividend': nan, 'Puerto Rico': 'Latin America & Caribbean', "Korea, Dem. People's Rep.": 'East Asia & Pacific', 'Portugal': 'Europe & Central Asia', 'Paraguay': 'Latin America & Caribbean', 'West Bank and Gaza': 'Middle East & North Africa', 'Pacific island small states': nan, 'Post-demographic dividend': nan, 'French Polynesia': 'East Asia & Pacific', 'Qatar': 'Middle East & North Africa', 'Romania': 'Europe & Central Asia', 'Russian Federation': 'Europe & Central Asia', 'Rwanda': 'Sub-Saharan Africa', 'South Asia': nan, 'Saudi Arabia': 'Middle East & North Africa', 'Sudan': 'Sub-Saharan Africa', 'Senegal': 'Sub-Saharan Africa', 'Singapore': 'East Asia & Pacific', 'Solomon Islands': 'East Asia & Pacific', 'Sierra Leone': 'Sub-Saharan Africa', 'El Salvador': 'Latin America & Caribbean', 'San Marino': 'Europe & Central Asia', 'Somalia': 'Sub-Saharan Africa', 'Serbia': 'Europe & Central Asia', 'Sub-Saharan Africa (excluding high income)': nan, 'South Sudan': 'Sub-Saharan Africa', 'Sub-Saharan Africa': nan, 'Small states': nan, 'São Tomé and Principe': 'Sub-Saharan Africa', 'Suriname': 'Latin America & Caribbean', 'Slovak Republic': 'Europe & Central Asia', 'Slovenia': 'Europe & Central Asia', 'Sweden': 'Europe & Central Asia', 'Eswatini': 'Sub-Saharan Africa', 'Sint Maarten (Dutch part)': 'Latin America & Caribbean', 'Seychelles': 'Sub-Saharan Africa', 'Syrian Arab Republic': 'Middle East & North Africa', 'Turks and Caicos Islands': 'Latin America & Caribbean', 'Chad': 'Sub-Saharan Africa', 'East Asia & Pacific (IDA & IBRD)': nan, 'Europe & Central Asia (IDA & IBRD)': nan, 'Togo': 'Sub-Saharan Africa', 'Thailand': 'East Asia & Pacific', 'Tajikistan': 'Europe & Central Asia', 'Turkmenistan': 'Europe & Central Asia', 'Latin America & Caribbean (IDA & IBRD)': nan, 'Timor-Leste': 'East Asia & Pacific', 'Middle East & North Africa (IDA & IBRD)': nan, 'Tonga': 'East Asia & Pacific', 'South Asia (IDA & IBRD)': nan, 'Sub-Saharan Africa (IDA & IBRD)': nan, 'Trinidad and Tobago': 'Latin America & Caribbean', 'Tunisia': 'Middle East & North Africa', 'Turkey': 'Europe & Central Asia', 'Tuvalu': 'East Asia & Pacific', 'Tanzania': 'Sub-Saharan Africa', 'Uganda': 'Sub-Saharan Africa', 'Ukraine': 'Europe & Central Asia', 'Upper middle income': nan, 'Uruguay': 'Latin America & Caribbean', 'United States': 'North America', 'Uzbekistan': 'Europe & Central Asia', 'St. Vincent and the Grenadines': 'Latin America & Caribbean', 'Venezuela, RB': 'Latin America & Caribbean', 'British Virgin Islands': 'Latin America & Caribbean', 'Virgin Islands (U.S.)': 'Latin America & Caribbean', 'Vietnam': 'East Asia & Pacific', 'Vanuatu': 'East Asia & Pacific', 'World': nan, 'Samoa': 'East Asia & Pacific', 'Kosovo': 'Europe & Central Asia', 'Yemen, Rep.': 'Middle East & North Africa', 'South Africa': 'Sub-Saharan Africa', 'Zambia': 'Sub-Saharan Africa', 'Zimbabwe': 'Sub-Saharan Africa'}

In [30]:
doing_biz_country_names['continent']= doing_biz_country_names['Economy'].map(continent_dict)

/home/mishraka/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
doing_biz_country_names

                      Economy                   continent
0                 New Zealand         East Asia & Pacific
1                   Singapore         East Asia & Pacific
2                     Denmark       Europe & Central Asia
3        Hong Kong SAR, China         East Asia & Pacific
4                 Korea, Rep.         East Asia & Pacific
5                     Georgia       Europe & Central Asia
6                      Norway       Europe & Central Asia
7               United States               North America
8              United Kingdom       Europe & Central Asia
9              Macedonia, FYR       Europe & Central Asia
10       United Arab Emirates  Middle East & North Africa
11                     Sweden       Europe & Central Asia
12              Taiwan, China                         NaN
13                  Lithuania       Europe & Central Asia
14                   Malaysia         East Asia & Pacific
15                    Estonia       Europe & Central Asia
16                    Finland       Europe & Central Asia
17                  Australia         East Asia & Pacific
18                     Latvia       Europe & Central Asia
19                  Mauritius          Sub-Saharan Africa
20                    Iceland       Europe & Central Asia
21                     Canada               North America
22                    Ireland       Europe & Central Asia
23                    Germany       Europe & Central Asia
24                 Azerbaijan       Europe & Central Asia
25                    Austria       Europe & Central Asia
26                   Thailand         East Asia & Pacific
27                 Kazakhstan       Europe & Central Asia
28                     Rwanda          Sub-Saharan Africa
29                      Spain       Europe & Central Asia
..                        ...                         ...
160                Madagascar          Sub-Saharan Africa
161                     Sudan          Sub-Saharan Africa
162              Sierra Leone          Sub-Saharan Africa
163                   Comoros          Sub-Saharan Africa
164                  Suriname   Latin America & Caribbean
165                  Cameroon          Sub-Saharan Africa
166               Afghanistan                  South Asia
167                   Burundi          Sub-Saharan Africa
168                     Gabon          Sub-Saharan Africa
169     São Tomé and Príncipe                         NaN
170                   Myanmar         East Asia & Pacific
171                      Iraq  Middle East & North Africa
172                    Angola          Sub-Saharan Africa
173                   Liberia          Sub-Saharan Africa
174             Guinea-Bissau          Sub-Saharan Africa
175                Bangladesh                  South Asia
176         Equatorial Guinea          Sub-Saharan Africa
177               Timor-Leste         East Asia & Pacific
178      Syrian Arab Republic  Middle East & North Africa
179               Congo, Rep.          Sub-Saharan Africa
180                      Chad          Sub-Saharan Africa
181                     Haiti   Latin America & Caribbean
182  Central African Republic          Sub-Saharan Africa
183          Congo, Dem. Rep.          Sub-Saharan Africa
184               South Sudan          Sub-Saharan Africa
185                     Libya  Middle East & North Africa
186               Yemen, Rep.  Middle East & North Africa
187             Venezuela, RB   Latin America & Caribbean
188                   Eritrea          Sub-Saharan Africa
189                   Somalia          Sub-Saharan Africa

[190 rows x 2 columns]

In [32]:
doing_biz_country_names.isna().sum()

Economy      0
continent    3
dtype: int64

In [33]:
doing_biz_country_names = doing_biz_country_names.drop(columns=['Economy'])

In [34]:
df = pd.concat([doing_biz_country_names,doing_biz], axis=1)

In [35]:
df

,continent,Economy,globalRank,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency
0,East Asia & Pacific,New Zealand,1,1,6,45,1,1,2,10,60,21,31
1,East Asia & Pacific,Singapore,2,3,8,16,21,32,7,8,45,1,27
2,Europe & Central Asia,Denmark,3,42,4,21,11,44,38,9,1,14,6
3,East Asia & Pacific,"Hong Kong SAR, China",4,5,1,3,53,32,11,1,27,30,44
4,East Asia & Pacific,"Korea, Rep.",5,11,10,2,40,60,23,24,33,2,11
5,Europe & Central Asia,Georgia,6,2,27,39,4,12,2,16,43,8,60
6,Europe & Central Asia,Norway,7,22,22,19,13,85,15,30,22,3,5
7,North America,United States,8,53,26,54,38,3,50,37,36,16,3
8,Europe & Central Asia,United Kingdom,9,19,17,7,42,32,15,23,30,32,14
9,Europe & Central Asia,"Macedonia, FYR",10,47,13,57,46,12,7,31,29,37,30
10,Middle East & North Africa,United Arab Emirates,11,25,5,1,7,44,15,2,98,9,75
11,Europe & Central Asia,Sweden,12,18,25,9,10,85,33,27,18,38,17
12,NaN,"Taiwan, China",13,20,2,8,19,99,15,29,58,11,23
13,Europe & Central Asia,Lithuania,14,31,7,26,3,44,38,18,19,7,85
14,East Asia & Pacific,Malaysia,15,122,3,4,29,32,2,72,48,33,41
15,Europe & Central Asia,Estonia,16,15,14,46,6,44,83,14,17,13,47
16,Europe & Central Asia,Finland,17,43,34,25,28,60,72,11,34,46,2
17,East Asia & Pacific,Australia,18,7,9,52,50,8,64,26,103,5,20
18,Europe & Central Asia,Latvia,19,24,56,53,25,12,51,13,26,20,54
19,Sub-Saharan Africa,Mauritius,20,21,15,34,35,60,15,6,69,27,35
20,Europe & Central Asia,Iceland,21,59,71,13,15,73,30,33,53,31,12
21,North America,Canada,22,3,63,121,34,12,11,19,50,96,13
22,Europe & Central Asia,Ireland,23,10,28,43,64,44,15,4,52,102,18
23,Europe & Central Asia,Germany,24,114,24,5,78,44,72,43,40,26,4
24,Europe & Central Asia,Azerbaijan,25,9,61,74,17,22,2,28,84,40,45
25,Europe & Central Asia,Austria,26,118,42,28,32,85,33,40,1,10,21
26,East Asia & Pacific,Thailand,27,39,67,6,66,44,15,59,59,35,24
27,Europe & Central Asia,Kazakhstan,28,36,35,76,18,60,1,56,102,4,37
28,Sub-Saharan Africa,Rwanda,29,51,106,68,2,3,14,35,88,78,58
29,Europe & Central Asia,Spain,30,86,78,48,58,73,30,34,1,23,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Sub-Saharan Africa,Madagascar,161,81,183,185,162,124,99,132,138,150,136
161,Sub-Saharan Africa,Sudan,162,156,105,120,93,161,168,163,185,144,118
162,Sub-Saharan Africa,Sierra Leone,163,55,182,178,167,161,89,88,166,105,161
163,Sub-Saharan Africa,Comoros,164,164,85,139,114,124,149,168,118,179,168
164,Latin America & Caribbean,Suriname,165,182,114,138,160,178,168,105,87,187,138
165,Sub-Saharan Africa,Cameroon,166,92,132,129,176,73,140,182,186,166,127
166,South Asia,Afghanistan,167,49,184,168,186,99,26,177,177,181,74
167,Sub-Saharan Africa,Burundi,168,17,162,183,97,178,132,138,169,158,147
168,Sub-Saharan Africa,Gabon,169,124,144,161,178,124,161,183,170,180,129
169,NaN,São Tomé and Príncipe,170,148,111,125,173,161,188,135,122,185,168
170,East Asia & Pacific,Myanmar,171,152,81,144,136,178,185,126,168,188,164
171,Middle East & North Africa,Iraq,171,155,103,126,113,186,125,129,181,143,168
172,Sub-Saharan Africa,Angola,173,139,87,152,170,184,89,104,174,186,168
173,Sub-Saharan Africa,Liberia,174,80,185,172,182,112,180,67,179,175,111
174,Sub-Saharan Africa,Guinea-Bissau,175,158,178,180,128,144,140,154,144,169,168
175,South Asia,Bangladesh,176,138,138,179,183,161,89,151,176,189,153
176,Sub-Saharan Africa,Equatorial Guinea,177,184,163,150,164,124,149,179,175,101,168
177,East Asia & Pacific,Timor-Leste,178,68,161,123,187,172,99,140,104,190,168
178,Middle East & North Africa,Syrian Arab Republic,179,136,186,158,157,175,95,85,178,161,163
179,Sub-Saharan Africa,"Congo, Rep.",180,179,127,182,177,134,149,185,184,155,122
180,Sub-Saharan Africa,Chad,181,186,153,177,134,144,161,188,172,153,154
181,Latin America & Caribbean,Haiti,182,189,180,142,181,178,188,147,86,124,168
182,Sub-Saharan Africa,Central African Republic,183,181,181,184,172,144,149,187,163,183,154
183,Sub-Saharan Africa,"Congo, Dem. Rep.",184,62,165,174,156,144,165,180,188,178,168
184,Sub-Saharan Africa,South Sudan,185,177,169,187,179,178,180,66,180,85,168
185,Middle East & North Africa,Libya,186,160,186,136,187,186,185,128,128,141,168
186,Middle East & North Africa,"Yemen, Rep.",187,175,186,187,81,186,132,83,189,139,157
187,Latin America & Caribbean,"Venezuela, RB",188,190,152,186,138,124,180,189,187,148,165
188,Sub-Saharan Africa,Eritrea,189,187,186,187,180,186,174,152,189,103,168
189,Sub-Saharan Africa,Somalia,190,188,186,187,152,186,190,190,164,114,168

In [36]:
df.isna().sum()

continent                            3
Economy                              0
globalRank                           0
Starting a Business                  0
Dealing with Construction Permits    0
Getting Electricity                  0
Registering Property                 0
Getting Credit                       0
Protecting Minority Investors        0
Paying Taxes                         0
Trading across Borders               0
Enforcing Contracts                  0
Resolving Insolvency                 0
dtype: int64

In [37]:
null_data = df[df.isnull().any(axis=1)]

In [38]:
null_data

,continent,Economy,globalRank,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency
12,NaN,"Taiwan, China",13,20,2,8,19,99,15,29,58,11,23
63,NaN,Puerto Rico (U.S.),64,53,141,88,159,3,110,162,67,63,10
169,NaN,São Tomé and Príncipe,170,148,111,125,173,161,188,135,122,185,168

In [39]:
df = df.dropna()

In [40]:
df.isna().sum()

continent                            0
Economy                              0
globalRank                           0
Starting a Business                  0
Dealing with Construction Permits    0
Getting Electricity                  0
Registering Property                 0
Getting Credit                       0
Protecting Minority Investors        0
Paying Taxes                         0
Trading across Borders               0
Enforcing Contracts                  0
Resolving Insolvency                 0
dtype: int64

In [41]:
df.shape

(187, 13)

In [199]:
df.columns

Index(['continent', 'Economy', 'globalRank', 'Starting a Business',
       'Dealing with Construction Permits', 'Getting Electricity',
       'Registering Property', 'Getting Credit',
       'Protecting Minority Investors', 'Paying Taxes',
       'Trading across Borders', 'Enforcing Contracts',
       'Resolving Insolvency'],
      dtype='object')

In [42]:
df.dtypes

continent                            object
Economy                              object
globalRank                            int64
Starting a Business                   int64
Dealing with Construction Permits     int64
Getting Electricity                   int64
Registering Property                  int64
Getting Credit                        int64
Protecting Minority Investors         int64
Paying Taxes                          int64
Trading across Borders                int64
Enforcing Contracts                   int64
Resolving Insolvency                  int64
dtype: object

In [43]:
df_temp = df[['Economy']]

In [44]:
df_temp.columns

Index(['Economy'], dtype='object')

Now I realize that it might be a good idea to have a GDP column in df for vizualization
so let's import another Excel datafile which contains GDP for 2017 for all these countries

In [45]:
#this files contains the info on GDP
gdp_countries = pd.read_excel('/home/mishraka/Documents/Manjula/Lambda_School/Hackathon_Project_datasets/Doing_Business/countries.xlsx', sheet_name= 'Sheet4')

In [46]:
gdp_countries.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27546.899390,24631.434860,24271.940421,25324.720362,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,373.361116,445.893298,553.300289,603.537023,669.009051,638.612543,629.345250,569.577923,561.778746,585.850064
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3868.579014,3347.844900,3531.416878,4299.008136,4539.467689,4804.633826,4707.578098,3683.552607,3308.772828,4170.312280
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4370.539647,4114.136545,4094.358832,4437.178068,4247.614308,4413.081697,4578.666728,3952.830781,4131.872341,4537.862492
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,47785.659086,43339.379875,39736.354063,41098.766942,38391.080867,40619.711298,42294.994727,36038.267604,37231.815671,39146.548836

In [47]:
gdp_countries.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017'],
      dtype='object')

In [48]:
#make a new df with only country name and GDP in 2017 columns
gdp_df = gdp_countries[['Country Name', '2017']]

In [49]:
gdp_df

                                          Country Name          2017
0                                                Aruba           NaN
1                                          Afghanistan    585.850064
2                                               Angola   4170.312280
3                                              Albania   4537.862492
4                                              Andorra  39146.548836
5                                           Arab World   6251.141575
6                                 United Arab Emirates  40698.849336
7                                            Argentina  14401.974855
8                                              Armenia   3936.798320
9                                       American Samoa           NaN
10                                 Antigua and Barbuda  15021.738183
11                                           Australia  53799.938090
12                                             Austria  47290.911650
13                                          Azerbaijan   4131.618310
14                                             Burundi    320.086870
15                                             Belgium  43323.807336
16                                               Benin    829.797231
17                                        Burkina Faso    670.705913
18                                          Bangladesh   1516.513423
19                                            Bulgaria   8031.598442
20                                             Bahrain  23655.035602
21                                        Bahamas, The  30762.012439
22                              Bosnia and Herzegovina   5180.636301
23                                             Belarus   5726.029673
24                                              Belize   4905.506284
25                                             Bermuda           NaN
26                                             Bolivia   3393.955818
27                                              Brazil   9821.407686
28                                            Barbados  16788.683920
29                                   Brunei Darussalam  28290.585196
..                                                 ...           ...
234  Latin America & the Caribbean (IDA & IBRD coun...   9083.073055
235                                        Timor-Leste   2279.253204
236  Middle East & North Africa (IDA & IBRD countries)   3776.506771
237                                              Tonga   3944.246001
238                            South Asia (IDA & IBRD)   1840.616372
239          Sub-Saharan Africa (IDA & IBRD countries)   1553.766532
240                                Trinidad and Tobago  16145.184573
241                                            Tunisia   3490.828293
242                                             Turkey  10540.617999
243                                             Tuvalu   3549.974741
244                                           Tanzania    936.330768
245                                             Uganda    604.042748
246                                            Ukraine   2639.824326
247                                Upper middle income   8605.075970
248                                            Uruguay  16245.598368
249                                      United States  59531.661964
250                                         Uzbekistan   1504.226546
251                     St. Vincent and the Grenadines   7185.179119
252                                      Venezuela, RB           NaN
253                             British Virgin Islands           NaN
254                              Virgin Islands (U.S.)           NaN
255                                            Vietnam   2343.124575
256                                            Vanuatu   3123.614592
257                                              World  10714.465954
258                                              Samoa   4360.753950
259                                             Kosovo   3893.969824
260                                        Yemen, Rep.           NaN
261                                       South Africa   6160.734569
262                                             Zambia   1509.797013
263                                           Zimbabwe   1079.608291

[264 rows x 2 columns]

In [50]:
gdp_dict = dict(zip(gdp_df['Country Name'], gdp_df['2017']))

In [51]:
gdp_dict

{'Aruba': nan,
 'Afghanistan': 585.85006378237,
 'Angola': 4170.31228024945,
 'Albania': 4537.8624924478,
 'Andorra': 39146.5488360905,
 'Arab World': 6251.1415751198,
 'United Arab Emirates': 40698.8493360368,
 'Argentina': 14401.9748546081,
 'Armenia': 3936.79831965287,
 'American Samoa': nan,
 'Antigua and Barbuda': 15021.7381833074,
 'Australia': 53799.9380899599,
 'Austria': 47290.9116498316,
 'Azerbaijan': 4131.61831005055,
 'Burundi': 320.086870120894,
 'Belgium': 43323.8073364711,
 'Benin': 829.797230600794,
 'Burkina Faso': 670.705913111953,
 'Bangladesh': 1516.51342307197,
 'Bulgaria': 8031.59844245699,
 'Bahrain': 23655.0356024012,
 'Bahamas, The': 30762.0124392644,
 'Bosnia and Herzegovina': 5180.63630093473,
 'Belarus': 5726.02967250931,
 'Belize': 4905.50628401227,
 'Bermuda': nan,
 'Bolivia': 3393.95581751781,
 'Brazil': 9821.40768641008,
 'Barbados': 16788.6839195944,
 'Brunei Darussalam': 28290.5851955712,
 'Bhutan': 3110.23011252519,
 'Botswana': 7595.59584978559,
 'Central African Republic': 418.411287036182,
 'Canada': 45032.1199081697,
 'Central Europe and the Baltics': 14122.3358495965,
 'Switzerland': 80189.6968607849,
 'Channel Islands': nan,
 'Chile': 15346.4496997595,
 'China': 8826.99409574835,
 "Cote d'Ivoire": 1662.44246666917,
 'Cameroon': 1446.7028948332,
 'Congo, Dem. Rep.': 457.847386806339,
 'Congo, Rep.': 1658.04362511719,
 'Colombia': 6301.58987782717,
 'Comoros': 797.286368474789,
 'Cabo Verde': 3209.69111999666,
 'Costa Rica': 11630.6683963387,
 'Caribbean small states': 9517.93264393172,
 'Cuba': nan,
 'Curacao': nan,
 'Cayman Islands': nan,
 'Cyprus': 25233.570984591,
 'Czech Republic': 20368.1385576071,
 'Germany': 44469.9090607244,
 'Djibouti': 1927.58970569415,
 'Dominica': 7609.61434887711,
 'Denmark': 56307.5082995258,
 'Dominican Republic': 7052.25883896858,
 'Algeria': 4123.38993650709,
 'East Asia & Pacific (excluding high income)': 7127.72037022007,
 'Early-demographic dividend': 3500.73520460308,
 'East Asia & Pacific': 10369.691406651,
 'Europe & Central Asia (excluding high income)': 7942.56038881424,
 'Europe & Central Asia': 23416.1078194071,
 'Ecuador': 6198.94732333954,
 'Egypt, Arab Rep.': 2412.72708185213,
 'Euro area': 36869.054428756,
 'Eritrea': nan,
 'Spain': 28156.8158362352,
 'Estonia': 19704.655040239,
 'Ethiopia': 767.563477815809,
 'European Union': 33715.1273620589,
 'Fragile and conflict affected situations': 1624.61825214233,
 'Finland': 45703.327865074,
 'Fiji': 5589.38883340896,
 'France': 38476.6586361575,
 'Faroe Islands': nan,
 'Micronesia, Fed. Sts.': 3187.5571598575,
 'Gabon': 7220.68723532493,
 'United Kingdom': 39720.4434267836,
 'Georgia': 4078.25487917912,
 'Ghana': 1641.48662461369,
 'Gibraltar': nan,
 'Guinea': 825.344929766329,
 'Gambia, The': 483.022458620079,
 'Guinea-Bissau': 723.658621625927,
 'Equatorial Guinea': 9850.01358478142,
 'Greece': 18613.4238733817,
 'Grenada': 10376.2270290508,
 'Greenland': nan,
 'Guatemala': 4470.98957191189,
 'Guam': nan,
 'Guyana': 4725.31906329949,
 'High income': 41211.1169464344,
 'Hong Kong SAR, China': 46193.6145204282,
 'Honduras': 2480.12592858547,
 'Heavily indebted poor countries (HIPC)': 952.505998683797,
 'Croatia': 13294.5149256785,
 'Haiti': 765.683924629642,
 'Hungary': 14224.8464577027,
 'IBRD only': 6039.83195640059,
 'IDA & IBRD total': 4838.78578179343,
 'IDA total': 1304.15815895808,
 'IDA blend': 1717.26462716662,
 'Indonesia': 3846.86432330998,
 'IDA only': 1101.30565367983,
 'Isle of Man': nan,
 'India': 1939.61298448814,
 'Not classified': nan,
 'Ireland': 69330.6901544912,
 'Iran, Islamic Rep.': 5415.20963548702,
 'Iraq': 5165.71415658829,
 'Iceland': 70056.8733916213,
 'Israel': 40270.2513460448,
 'Italy': 31952.9759206841,
 'Jamaica': 5109.5526491955,
 'Jordan': 4129.75167119517,
 'Japan': 38428.0973168279,
 'Kazakhstan': 8837.45730230661,
 'Kenya': 1507.81486384924,
 'Kyrgyz Republic': 1219.82404838204,
 'Cambodia': 1384.42318730336,
 'Kiribati': 1685.16693853914,
 'St. Kitts and Nevis': 17090.1523440506,
 'Korea, Rep.': 29742.8388613471,
 'Kuwait': 29040.3637091117,
 'Latin America & Caribbean (excluding high income)': 8313.2268924449,
 'Lao PDR': 2457.37626642597,
 'Lebanon': 8523.74955005489,
 'Liberia': 456.053015423383,
 'Libya': 7998.02881906883,
 'St. Lucia': 9574.30249578155,
 'Latin America & Caribbean': 9244.40759700331,
 'Least developed countries: UN classification': 1060.00778889814,
 'Low income': 750.433044360923,
 'Liechtenstein': nan,
 'Sri Lanka': 4065.22487411082,
 'Lower middle income': 2188.00430499814,
 'Low & middle income': 4654.58347937862,
 'Lesotho': 1181.81175872882,
 'Late-demographic dividend': 8977.54185182393,
 'Lithuania': 16680.6780952339,
 'Luxembourg': 104103.036746518,
 'Latvia': 15594.2860155406,
 'Macao SAR, China': 80892.8213291687,
 'St. Martin (French part)': nan,
 'Morocco': 3007.24287724321,
 'Monaco': nan,
 'Moldova': 2289.87771873439,
 'Madagascar': 449.722381894452,
 'Maldives': 10535.7947047119,
 'Middle East & North Africa': 7349.94786335372,
 'Mexico': 8902.83082294794,
 'Marshall Islands': 3753.25629303367,
 'Middle income': 5169.12926646914,
 'Macedonia, FYR': 5442.60994435418,
 'Mali': 824.516225735344,
 'Malta': 26945.9838821147,
 'Myanmar': 1298.88198869632,
 'Middle East & North Africa (excluding high income)': 3768.7318362971,
 'Montenegro': 7669.57190649492,
 'Mongolia': 3735.16430235429,
 'Northern Mariana Islands': nan,
 'Mozambique': 415.717716654351,
 'Mauritania': 1136.76397506006,
 'Mauritius': 10547.2168347253,
 'Malawi': 338.483642385459,
 'Malaysia': 9944.90430018577,
 'North America': 58070.0661365043,
 'Namibia': 5227.18000967398,
 'New Caledonia': nan,
 'Niger': 378.060307656456,
 'Nigeria': 1968.55768113599,
 'Nicaragua': 2221.80644458727,
 'Netherlands': 48223.1554941825,
 'Norway': 75504.5662551423,
 'Nepal': 835.079846579319,
 'Nauru': 8343.8279994234,
 'New Zealand': 42940.5782879727,
 'OECD members': 38148.7696691586,
 'Oman': 15668.3666272179,
 'Other small states': 13134.4241023891,
 'Pakistan': 1547.85341366929,
 'Panama': 15087.6816327188,
 'Peru': 6571.92864469964,
 'Philippines': 2988.95270336383,
 'Palau': 13417.2902572599,
 'Papua New Guinea': 2555.85316162118,
 'Poland': 13811.6642436808,
 'Pre-demographic dividend': 1434.17969509772,
 'Puerto Rico': nan,
 'Korea, Dem. People’s Rep.': nan,
 'Portugal': 21136.2972102005,
 'Paraguay': 4365.52616174354,
 'West Bank and Gaza': 3094.72574681783,
 'Pacific island small states': 4004.38390855487,
 'Post-demographic dividend': 42521.3204307379,
 'French Polynesia': nan,
 'Qatar': 63505.805250213,
 'Romania': 10813.7166001986,
 'Russian Federation': 10743.0965915463,
 'Rwanda': 748.393259996558,
 'South Asia': 1840.61637231463,
 'Saudi Arabia': 20760.9060117662,
 'Sudan': 2898.5493455104,
 'Senegal': 1033.06990554174,
 'Singapore': 57714.2966313778,
 'Solomon Islands': 2132.1150583547,
 'Sierra Leone': 499.426295360288,
 'El Salvador': 3889.30876895407,
 'San Marino': 49664.0255661766,
 'Somalia': 499.816801687482,
 'Serbia': 5900.0381075126,
 'Sub-Saharan Africa (excluding high income)': 1552.50651222959,
 'South Sudan': nan,
 'Sub-Saharan Africa': 1553.76653234756,
 'Small states': 11933.395558639,
 'Sao Tome and Principe': 1912.97072158884,
 'Suriname': 5900.55648589599,
 'Slovak Republic': 17604.950976993,
 'Slovenia': 23597.2917255702,
 'Sweden': 53442.0082808022,
 'Eswatini': 3224.39302438399,
 'Sint Maarten (Dutch part)': nan,
 'Seychelles': 15504.4644626854,
 'Syrian Arab Republic': nan,
 'Turks and Caicos Islands': nan,
 'Chad': 669.886425875931,
 'East Asia & Pacific (IDA & IBRD countries)': 7202.90335523476,
 'Europe & Central Asia (IDA & IBRD countries)': 8477.82953777581,
 'Togo': 617.176609668093,
 'Thailand': 6593.8198059239,
 'Tajikistan': 800.966964138605,
 'Turkmenistan': 7355.83134492492,
 'Latin America & the Caribbean (IDA & IBRD countries)': 9083.07305506817,
 'Timor-Leste': 2279.25320357878,
 'Middle East & North Africa (IDA & IBRD countries)': 3776.50677095942,
 'Tonga': 3944.24600134158,
 'South Asia (IDA & IBRD)': 1840.61637231463,
 'Sub-Saharan Africa (IDA & IBRD countries)': 1553.76653234756,
 'Trinidad and Tobago': 16145.1845729645,
 'Tunisia': 3490.82829288382,
 'Turkey': 10540.617998709,
 'Tuvalu': 3549.97474128384,
 'Tanzania': 936.330767971897,
 'Uganda': 604.04274819749,
 'Ukraine': 2639.82432586795,
 'Upper middle income': 8605.07597021871,
 'Uruguay': 16245.5983677431,
 'United States': 59531.661964344,
 'Uzbekistan': 1504.22654579673,
 'St. Vincent and the Grenadines': 7185.17911889887,
 'Venezuela, RB': nan,
 'British Virgin Islands': nan,
 'Virgin Islands (U.S.)': nan,
 'Vietnam': 2343.12457457605,
 'Vanuatu': 3123.61459213652,
 'World': 10714.4659540052,
 'Samoa': 4360.75395043828,
 'Kosovo': 3893.96982393753,
 'Yemen, Rep.': nan,
 'South Africa': 6160.73456881527,
 'Zambia': 1509.79701345174,
 'Zimbabwe': 1079.60829052607}

In [52]:
#gdp_df['GDP_2017']= gdp_df['Economy'].map(continent_dict)
# http://cmdlinetips.com/2018/01/how-to-add-a-new-column-to-using-a-dictionary-in-pandas-data-frame/
df_temp['2017']= df_temp['Economy'].map(gdp_dict)

/home/mishraka/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [53]:
df_temp.head()

                Economy          2017
0           New Zealand  42940.578288
1             Singapore  57714.296631
2               Denmark  56307.508300
3  Hong Kong SAR, China  46193.614520
4           Korea, Rep.  29742.838861

In [54]:
df_gdp_2017 = df_temp.drop(columns='Economy')

In [55]:
df_final = pd.concat([df,df_gdp_2017], axis=1)

In [56]:
df_final

,continent,Economy,globalRank,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency,2017
0,East Asia & Pacific,New Zealand,1,1,6,45,1,1,2,10,60,21,31,42940.578288
1,East Asia & Pacific,Singapore,2,3,8,16,21,32,7,8,45,1,27,57714.296631
2,Europe & Central Asia,Denmark,3,42,4,21,11,44,38,9,1,14,6,56307.508300
3,East Asia & Pacific,"Hong Kong SAR, China",4,5,1,3,53,32,11,1,27,30,44,46193.614520
4,East Asia & Pacific,"Korea, Rep.",5,11,10,2,40,60,23,24,33,2,11,29742.838861
5,Europe & Central Asia,Georgia,6,2,27,39,4,12,2,16,43,8,60,4078.254879
6,Europe & Central Asia,Norway,7,22,22,19,13,85,15,30,22,3,5,75504.566255
7,North America,United States,8,53,26,54,38,3,50,37,36,16,3,59531.661964
8,Europe & Central Asia,United Kingdom,9,19,17,7,42,32,15,23,30,32,14,39720.443427
9,Europe & Central Asia,"Macedonia, FYR",10,47,13,57,46,12,7,31,29,37,30,5442.609944
10,Middle East & North Africa,United Arab Emirates,11,25,5,1,7,44,15,2,98,9,75,40698.849336
11,Europe & Central Asia,Sweden,12,18,25,9,10,85,33,27,18,38,17,53442.008281
13,Europe & Central Asia,Lithuania,14,31,7,26,3,44,38,18,19,7,85,16680.678095
14,East Asia & Pacific,Malaysia,15,122,3,4,29,32,2,72,48,33,41,9944.904300
15,Europe & Central Asia,Estonia,16,15,14,46,6,44,83,14,17,13,47,19704.655040
16,Europe & Central Asia,Finland,17,43,34,25,28,60,72,11,34,46,2,45703.327865
17,East Asia & Pacific,Australia,18,7,9,52,50,8,64,26,103,5,20,53799.938090
18,Europe & Central Asia,Latvia,19,24,56,53,25,12,51,13,26,20,54,15594.286016
19,Sub-Saharan Africa,Mauritius,20,21,15,34,35,60,15,6,69,27,35,10547.216835
20,Europe & Central Asia,Iceland,21,59,71,13,15,73,30,33,53,31,12,70056.873392
21,North America,Canada,22,3,63,121,34,12,11,19,50,96,13,45032.119908
22,Europe & Central Asia,Ireland,23,10,28,43,64,44,15,4,52,102,18,69330.690154
23,Europe & Central Asia,Germany,24,114,24,5,78,44,72,43,40,26,4,44469.909061
24,Europe & Central Asia,Azerbaijan,25,9,61,74,17,22,2,28,84,40,45,4131.618310
25,Europe & Central Asia,Austria,26,118,42,28,32,85,33,40,1,10,21,47290.911650
26,East Asia & Pacific,Thailand,27,39,67,6,66,44,15,59,59,35,24,6593.819806
27,Europe & Central Asia,Kazakhstan,28,36,35,76,18,60,1,56,102,4,37,8837.457302
28,Sub-Saharan Africa,Rwanda,29,51,106,68,2,3,14,35,88,78,58,748.393260
29,Europe & Central Asia,Spain,30,86,78,48,58,73,30,34,1,23,19,28156.815836
30,Europe & Central Asia,Russian Federation,31,32,48,12,12,22,57,53,99,18,55,10743.096592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,East Asia & Pacific,"Micronesia, Fed. Sts.",160,170,137,117,187,99,185,110,61,184,123,3187.557160
160,Sub-Saharan Africa,Madagascar,161,81,183,185,162,124,99,132,138,150,136,449.722382
161,Sub-Saharan Africa,Sudan,162,156,105,120,93,161,168,163,185,144,118,2898.549346
162,Sub-Saharan Africa,Sierra Leone,163,55,182,178,167,161,89,88,166,105,161,499.426295
163,Sub-Saharan Africa,Comoros,164,164,85,139,114,124,149,168,118,179,168,797.286368
164,Latin America & Caribbean,Suriname,165,182,114,138,160,178,168,105,87,187,138,5900.556486
165,Sub-Saharan Africa,Cameroon,166,92,132,129,176,73,140,182,186,166,127,1446.702895
166,South Asia,Afghanistan,167,49,184,168,186,99,26,177,177,181,74,585.850064
167,Sub-Saharan Africa,Burundi,168,17,162,183,97,178,132,138,169,158,147,320.086870
168,Sub-Saharan Africa,Gabon,169,124,144,161,178,124,161,183,170,180,129,7220.687235
170,East Asia & Pacific,Myanmar,171,152,81,144,136,178,185,126,168,188,164,1298.881989
171,Middle East & North Africa,Iraq,171,155,103,126,113,186,125,129,181,143,168,5165.714157
172,Sub-Saharan Africa,Angola,173,139,87,152,170,184,89,104,174,186,168,4170.312280
173,Sub-Saharan Africa,Liberia,174,80,185,172,182,112,180,67,179,175,111,456.053015
174,Sub-Saharan Africa,Guinea-Bissau,175,158,178,180,128,144,140,154,144,169,168,723.658622
175,South Asia,Bangladesh,176,138,138,179,183,161,89,151,176,189,153,1516.513423
176,Sub-Saharan Africa,Equatorial Guinea,177,184,163,150,164,124,149,179,175,101,168,9850.013585
177,East Asia & Pacific,Timor-Leste,178,68,161,123,187,172,99,140,104,190,168,2279.253204
178,Middle East & North Africa,Syrian Arab Republic,179,136,186,158,157,175,95,85,178,161,163,NaN
179,Sub-Saharan Africa,"Congo, Rep.",180,179,127,182,177,134,149,185,184,155,122,1658.043625
180,Sub-Saharan Africa,Chad,181,186,153,177,134,144,161,188,172,153,154,669.886426
181,Latin America & Caribbean,Haiti,182,189,180,142,181,178,188,147,86,124,168,765.683925
182,Sub-Saharan Africa,Central African Republic,183,181,181,184,172,144,149,187,163,183,154,418.411287
183,Sub-Saharan Africa,"Congo, Dem. Rep.",184,62,165,174,156,144,165,180,188,178,168,457.847387
184,Sub-Saharan Africa,South Sudan,185,177,169,187,179,178,180,66,180,85,168,NaN
185,Middle East & North Africa,Libya,186,160,186,136,187,186,185,128,128,141,168,7998.028819
186,Middle East & North Africa,"Yemen, Rep.",187,175,186,187,81,186,132,83,189,139,157,NaN
187,Latin America & Caribbean,"Venezuela, RB",188,190,152,186,138,124,180,189,187,148,165,NaN
188,Sub-Saharan Africa,Eritrea,189,187,186,187,180,186,174,152,189,103,168,NaN
189,Sub-Saharan Africa,Somalia,190,188,186,187,152,186,190,190,164,114,168,499.816802

In [57]:
df_final.dtypes

continent                             object
Economy                               object
globalRank                             int64
Starting a Business                    int64
Dealing with Construction Permits      int64
Getting Electricity                    int64
Registering Property                   int64
Getting Credit                         int64
Protecting Minority Investors          int64
Paying Taxes                           int64
Trading across Borders                 int64
Enforcing Contracts                    int64
Resolving Insolvency                   int64
2017                                 float64
dtype: object

In [64]:
df_final['2017'] = df_final['2017'].round()

In [66]:
print(df_final['2017'])

0      42941.0
1      57714.0
2      56308.0
3      46194.0
4      29743.0
5       4078.0
6      75505.0
7      59532.0
8      39720.0
9       5443.0
10     40699.0
11     53442.0
13     16681.0
14      9945.0
15     19705.0
16     45703.0
17     53800.0
18     15594.0
19     10547.0
20     70057.0
21     45032.0
22     69331.0
23     44470.0
24      4132.0
25     47291.0
26      6594.0
27      8837.0
28       748.0
29     28157.0
30     10743.0
        ...
159     3188.0
160      450.0
161     2899.0
162      499.0
163      797.0
164     5901.0
165     1447.0
166      586.0
167      320.0
168     7221.0
170     1299.0
171     5166.0
172     4170.0
173      456.0
174      724.0
175     1517.0
176     9850.0
177     2279.0
178        NaN
179     1658.0
180      670.0
181      766.0
182      418.0
183      458.0
184        NaN
185     7998.0
186        NaN
187        NaN
188        NaN
189      500.0
Name: 2017, Length: 187, dtype: float64

In [75]:
df_final = df_final.rename(columns = {'2017':'gdp_2017'})

In [76]:
df_final.columns

Index(['continent', 'Economy', 'globalRank', 'Starting a Business',
       'Dealing with Construction Permits', 'Getting Electricity',
       'Registering Property', 'Getting Credit',
       'Protecting Minority Investors', 'Paying Taxes',
       'Trading across Borders', 'Enforcing Contracts', 'Resolving Insolvency',
       'gdp_2017'],
      dtype='object')

In [77]:
df_final.isna().sum()

continent                            0
Economy                              0
globalRank                           0
Starting a Business                  0
Dealing with Construction Permits    0
Getting Electricity                  0
Registering Property                 0
Getting Credit                       0
Protecting Minority Investors        0
Paying Taxes                         0
Trading across Borders               0
Enforcing Contracts                  0
Resolving Insolvency                 0
gdp_2017                             6
dtype: int64

In [78]:
null_data = df_final[df_final.isnull().any(axis=1)]

In [79]:
null_data

,continent,Economy,globalRank,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency,gdp_2017
121,Sub-Saharan Africa,Côte d'Ivoire,122,26,142,143,112,44,149,175,162,106,80,NaN
178,Middle East & North Africa,Syrian Arab Republic,179,136,186,158,157,175,95,85,178,161,163,NaN
184,Sub-Saharan Africa,South Sudan,185,177,169,187,179,178,180,66,180,85,168,NaN
186,Middle East & North Africa,"Yemen, Rep.",187,175,186,187,81,186,132,83,189,139,157,NaN
187,Latin America & Caribbean,"Venezuela, RB",188,190,152,186,138,124,180,189,187,148,165,NaN
188,Sub-Saharan Africa,Eritrea,189,187,186,187,180,186,174,152,189,103,168,NaN

In [80]:
df_ranking = df_final.dropna()

In [81]:
df_ranking.shape

(181, 14)

In [82]:
df_ranking.isna().sum()

continent                            0
Economy                              0
globalRank                           0
Starting a Business                  0
Dealing with Construction Permits    0
Getting Electricity                  0
Registering Property                 0
Getting Credit                       0
Protecting Minority Investors        0
Paying Taxes                         0
Trading across Borders               0
Enforcing Contracts                  0
Resolving Insolvency                 0
gdp_2017                             0
dtype: int64

In [83]:
df = df_ranking

In [84]:
df.head()

,continent,Economy,globalRank,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency,gdp_2017
0,East Asia & Pacific,New Zealand,1,1,6,45,1,1,2,10,60,21,31,42941.0
1,East Asia & Pacific,Singapore,2,3,8,16,21,32,7,8,45,1,27,57714.0
2,Europe & Central Asia,Denmark,3,42,4,21,11,44,38,9,1,14,6,56308.0
3,East Asia & Pacific,"Hong Kong SAR, China",4,5,1,3,53,32,11,1,27,30,44,46194.0
4,East Asia & Pacific,"Korea, Rep.",5,11,10,2,40,60,23,24,33,2,11,29743.0

<div class="mark">
Import lesson: how to save the files i created here in jupyter to save them on local machine</div><i class="fa fa-lightbulb-o "></i>

In [94]:
# https://medium.com/ibm-data-science-experience/how-to-upload-download-files-to-from-notebook-in-my-local-machine-6a4e65a15767
import base64  
import pandas as pd

In [95]:
#write dataframe to file
df.to_csv("test1.csv")  
#read it back
pd.read_csv("test1.csv").head()

,Unnamed: 0,continent,Economy,globalRank,Starting a Business,Dealing with Construction Permits,Getting Electricity,Registering Property,Getting Credit,Protecting Minority Investors,Paying Taxes,Trading across Borders,Enforcing Contracts,Resolving Insolvency,gdp_2017
0,0,East Asia & Pacific,New Zealand,1,1,6,45,1,1,2,10,60,21,31,42941.0
1,1,East Asia & Pacific,Singapore,2,3,8,16,21,32,7,8,45,1,27,57714.0
2,2,Europe & Central Asia,Denmark,3,42,4,21,11,44,38,9,1,14,6,56308.0
3,3,East Asia & Pacific,"Hong Kong SAR, China",4,5,1,3,53,32,11,1,27,30,44,46194.0
4,4,East Asia & Pacific,"Korea, Rep.",5,11,10,2,40,60,23,24,33,2,11,29743.0

In [96]:
from IPython.display import HTML

def create_download_link( df, title = "Download CSV file", filename = "data.csv"):  
    csv = df.to_csv()
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(df)

In [93]:
from jupyter_plotly_dash import JupyterDash

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.plotly as py
import plotly.graph_objs as go
import plotly

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash('SimpleExample')

app.layout = html.Div([
    dcc.Graph(
        id='life-exp-vs-gdp',
        figure={
            'data': [
                go.Scatter(
                    x=df['gdp_2017'],
                    y=df['globalRank'],
                    text=df['Economy'],
                    mode='markers',
                    opacity=0.7,
                    marker={
                        'size': 15,
                        'line': {'width': 0.5, 'color': 'white'}
                    },
                    
                ) 
            ],
            'layout': go.Layout(
                xaxis={'type': 'log', 'title': 'GDP Per Capita'},
                yaxis={'title': 'Global Ranking'},
                margin={'l': 40, 'b': 40, 't': 10, 'r': 10},
                legend={'x': 0, 'y': 1},
                hovermode='closest'
            )
        }
    )
])

app

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go

import pandas as pd
import math

#data = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv")
#df_2007 = data[data['year']==2007]
df_2017 = df.sort_values(['continent', 'Economy'])
slope = 2.666051223553066e-05
hover_text = []
bubble_size = []

for index, row in df_2007.iterrows():
    hover_text.append(('Country: {country}<br>'+
                      'Life Expectancy: {lifeExp}<br>'+
                      'GDP per capita: {gdp}<br>'+
                      'Population: {pop}<br>'+
                      'Year: {year}').format(country=row['country'],
                                            lifeExp=row['lifeExp'],
                                            gdp=row['gdpPercap'],
                                            pop=row['pop'],
                                            year=row['year']))
    bubble_size.append(math.sqrt(row['pop']*slope))

df_2007['text'] = hover_text
df_2007['size'] = bubble_size
sizeref = 2.*max(df_2007['size'])/(100**2)

trace0 = go.Scatter(
    x=df_2007['gdpPercap'][df_2007['continent'] == 'Africa'],
    y=df_2007['lifeExp'][df_2007['continent'] == 'Africa'],
    mode='markers',
    name='Africa',
    text=df_2007['text'][df_2007['continent'] == 'Africa'],
    marker=dict(
        symbol='circle',
        sizemode='area',
        sizeref=sizeref,
        size=df_2007['size'][df_2007['continent'] == 'Africa'],
        line=dict(
            width=2
        ),
    )
)
trace1 = go.Scatter(
    x=df_2007['gdpPercap'][df_2007['continent'] == 'Americas'],
    y=df_2007['lifeExp'][df_2007['continent'] == 'Americas'],
    mode='markers',
    name='Americas',
    text=df_2007['text'][df_2007['continent'] == 'Americas'],
    marker=dict(
        sizemode='area',
        sizeref=sizeref,
        size=df_2007['size'][df_2007['continent'] == 'Americas'],
        line=dict(
            width=2
        ),
    )
)
trace2 = go.Scatter(
    x=df_2007['gdpPercap'][df_2007['continent'] == 'Asia'],
    y=df_2007['lifeExp'][df_2007['continent'] == 'Asia'],
    mode='markers',
    name='Asia',
    text=df_2007['text'][df_2007['continent'] == 'Asia'],
    marker=dict(
        sizemode='area',
        sizeref=sizeref,
        size=df_2007['size'][df_2007['continent'] == 'Asia'],
        line=dict(
            width=2
        ),
    )
)
trace3 = go.Scatter(
    x=df_2007['gdpPercap'][df_2007['continent'] == 'Europe'],
    y=df_2007['lifeExp'][df_2007['continent'] == 'Europe'],
    mode='markers',
    name='Europe',
    text=df_2007['text'][df_2007['continent'] == 'Europe'],
    marker=dict(
        sizemode='area',
        sizeref=sizeref,
        size=df_2007['size'][df_2007['continent'] == 'Europe'],
        line=dict(
            width=2
        ),
    )
)
trace4 = go.Scatter(
    x=df_2007['gdpPercap'][df_2007['continent'] == 'Oceania'],
    y=df_2007['lifeExp'][df_2007['continent'] == 'Oceania'],
    mode='markers',
    name='Oceania',
    text=df_2007['text'][df_2007['continent'] == 'Oceania'],
    marker=dict(
        sizemode='area',
        sizeref=sizeref,
        size=df_2007['size'][df_2007['continent'] == 'Oceania'],
        line=dict(
            width=2
        ),
    )
)

data = [trace0, trace1, trace2, trace3, trace4]
layout = go.Layout(
    title='Life Expectancy v. Per Capita GDP, 2007',
    xaxis=dict(
        title='GDP per capita (2000 dollars)',
        gridcolor='rgb(255, 255, 255)',
        range=[2.003297660701705, 5.191505530708712],
        type='log',
        zerolinewidth=1,
        ticklen=5,
        gridwidth=2,
    ),
    yaxis=dict(
        title='Life Expectancy (years)',
        gridcolor='rgb(255, 255, 255)',
        range=[36.12621671352166, 91.72921793264332],
        zerolinewidth=1,
        ticklen=5,
        gridwidth=2,
    ),
    paper_bgcolor='rgb(243, 243, 243)',
    plot_bgcolor='rgb(243, 243, 243)',
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='life-expectancy-per-GDP-2007')