In [8]:
# import dash
# import dash_core_components as dcc
# import dash_html_components as html
# import pandas as pd
# import plotly.graph_objs as go

from jupyter_plotly_dash import JupyterDash

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash('SimpleExample')

df = pd.read_csv(
    'https://gist.githubusercontent.com/chriddyp/' +
    '5d1ea79569ed194d432e56108a04d188/raw/' +
    'a9f9e8076b837d541398e999dcbac2b2826a81f8/'+
    'gdp-life-exp-2007.csv')


app.layout = html.Div([
    dcc.Graph(
        id='life-exp-vs-gdp',
        figure={
            'data': [
                go.Scatter(
                    x=df[df['continent'] == i]['gdp per capita'],
                    y=df[df['continent'] == i]['life expectancy'],
                    text=df[df['continent'] == i]['country'],
                    mode='markers',
                    opacity=0.7,
                    marker={
                        'size': 15,
                        'line': {'width': 0.5, 'color': 'white'}
                    },
                    name=i
                ) for i in df.continent.unique()
            ],
            'layout': go.Layout(
                xaxis={'type': 'log', 'title': 'GDP Per Capita'},
                yaxis={'title': 'Life Expectancy'},
                margin={'l': 40, 'b': 40, 't': 10, 'r': 10},
                legend={'x': 0, 'y': 1},
                hovermode='closest'
            )
        }
    )
])

app

In [9]:
# import dash
# import dash_core_components as dcc
# import dash_html_components as html
# import pandas as pd
# import plotly.graph_objs as go

from jupyter_plotly_dash import JupyterDash
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']


app = JupyterDash('SimpleExample')


colors = {
    'background': '#111111',
    'text': '#7FDBFF'
}

app.layout = html.Div(style={'backgroundColor': colors['background']}, children=[
    html.H1(
        children='Hello Dash',
        style={
            'textAlign': 'center',
            'color': colors['text']
        }
    ),

    html.Div(children='Dash: A web application framework for Python.', style={
        'textAlign': 'center',
        'color': colors['text']
    }),

    dcc.Graph(
        id='example-graph-2',
        figure={
            'data': [
                {'x': [1, 2, 3], 'y': [4, 1, 2], 'type': 'bar', 'name': 'SF'},
                {'x': [1, 2, 3], 'y': [2, 4, 5], 'type': 'bar', 'name': u'Montréal'},
            ],
            'layout': {
                'plot_bgcolor': colors['background'],
                'paper_bgcolor': colors['background'],
                'font': {
                    'color': colors['text']
                }
            }
        }
    )
])

app

In [10]:
# import dash
# import dash_core_components as dcc
# import dash_html_components as html
# import pandas as pd
# import plotly.graph_objs as go

from jupyter_plotly_dash import JupyterDash
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash('SimpleExample')

df = pd.read_csv(
    'https://gist.githubusercontent.com/chriddyp/'
    'cb5392c35661370d95f300086accea51/raw/'
    '8e0768211f6b747c0db42a9ce9a0937dafcbd8b2/'
    'indicators.csv')

available_indicators = df['Indicator Name'].unique()

app.layout = html.Div([
    html.Div([

        html.Div([
            dcc.Dropdown(
                id='xaxis-column',
                options=[{'label': i, 'value': i} for i in available_indicators],
                value='Fertility rate, total (births per woman)'
            ),
            dcc.RadioItems(
                id='xaxis-type',
                options=[{'label': i, 'value': i} for i in ['Linear', 'Log']],
                value='Linear',
                labelStyle={'display': 'inline-block'}
            )
        ],
        style={'width': '48%', 'display': 'inline-block'}),

        html.Div([
            dcc.Dropdown(
                id='yaxis-column',
                options=[{'label': i, 'value': i} for i in available_indicators],
                value='Life expectancy at birth, total (years)'
            ),
            dcc.RadioItems(
                id='yaxis-type',
                options=[{'label': i, 'value': i} for i in ['Linear', 'Log']],
                value='Linear',
                labelStyle={'display': 'inline-block'}
            )
        ],style={'width': '48%', 'float': 'right', 'display': 'inline-block'})
    ]),

    dcc.Graph(id='indicator-graphic'),

    dcc.Slider(
        id='year--slider',
        min=df['Year'].min(),
        max=df['Year'].max(),
        value=df['Year'].max(),
        marks={str(year): str(year) for year in df['Year'].unique()}
    )
])

@app.callback(
    dash.dependencies.Output('indicator-graphic', 'figure'),
    [dash.dependencies.Input('xaxis-column', 'value'),
     dash.dependencies.Input('yaxis-column', 'value'),
     dash.dependencies.Input('xaxis-type', 'value'),
     dash.dependencies.Input('yaxis-type', 'value'),
     dash.dependencies.Input('year--slider', 'value')])
def update_graph(xaxis_column_name, yaxis_column_name,
                 xaxis_type, yaxis_type,
                 year_value):
    dff = df[df['Year'] == year_value]

    return {
        'data': [go.Scatter(
            x=dff[dff['Indicator Name'] == xaxis_column_name]['Value'],
            y=dff[dff['Indicator Name'] == yaxis_column_name]['Value'],
            text=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name'],
            mode='markers',
            marker={
                'size': 15,
                'opacity': 0.5,
                'line': {'width': 0.5, 'color': 'white'}
            }
        )],
        'layout': go.Layout(
            xaxis={
                'title': xaxis_column_name,
                'type': 'linear' if xaxis_type == 'Linear' else 'log'
            },
            yaxis={
                'title': yaxis_column_name,
                'type': 'linear' if yaxis_type == 'Linear' else 'log'
            },
            margin={'l': 40, 'b': 40, 't': 10, 'r': 0},
            hovermode='closest'
        )
    }


app

In [13]:
df = pd.read_csv('https://gist.githubusercontent.com/chriddyp/cb5392c35661370d95f300086accea51/raw/8e0768211f6b747c0db42a9ce9a0937dafcbd8b2/indicators.csv')

In [15]:
df

,Unnamed: 0,Country Name,Indicator Name,Year,Value
0,0,Arab World,"Agriculture, value added (% of GDP)",1952,NaN
1,1,Arab World,CO2 emissions (metric tons per capita),1952,NaN
2,2,Arab World,Domestic credit provided by financial sector (...,1952,NaN
3,3,Arab World,Electric power consumption (kWh per capita),1952,NaN
4,4,Arab World,Energy use (kg of oil equivalent per capita),1952,NaN
5,5,Arab World,Exports of goods and services (% of GDP),1952,NaN
6,6,Arab World,"Fertility rate, total (births per woman)",1952,NaN
7,7,Arab World,GDP growth (annual %),1952,NaN
8,8,Arab World,"GNI per capita, PPP (current international $)",1952,NaN
9,9,Arab World,"Gross enrollment ratio, primary, both sexes (%)",1952,NaN
10,10,Arab World,"Gross enrolment ratio, secondary, both sexes (%)",1952,NaN
11,11,Arab World,High-technology exports (% of manufactured exp...,1952,NaN
12,12,Arab World,Imports of goods and services (% of GDP),1952,NaN
13,13,Arab World,Income share held by lowest 20%,1952,NaN
14,14,Arab World,"Industry, value added (% of GDP)",1952,NaN
15,15,Arab World,"Inflation, GDP deflator (annual %)",1952,NaN
16,16,Arab World,Internet users (per 100 people),1952,NaN
17,17,Arab World,"Life expectancy at birth, total (years)",1952,NaN
18,18,Arab World,Military expenditure (% of GDP),1952,NaN
19,19,Arab World,Mobile cellular subscriptions (per 100 people),1952,NaN
20,20,Arab World,Net lending (+) / net borrowing (-) (% of GDP),1952,NaN
21,21,Arab World,Population density (people per sq. km of land ...,1952,NaN
22,22,Arab World,"Prevalence of HIV, total (% of population ages...",1952,NaN
23,23,Arab World,"Revenue, excluding grants (% of GDP)",1952,NaN
24,24,Arab World,"Services, etc., value added (% of GDP)",1952,NaN
25,25,Arab World,Tax revenue (% of GDP),1952,NaN
26,26,Arab World,Time required to start a business (days),1952,NaN
27,27,Caribbean small states,"Agriculture, value added (% of GDP)",1952,NaN
28,28,Caribbean small states,CO2 emissions (metric tons per capita),1952,NaN
29,29,Caribbean small states,Domestic credit provided by financial sector (...,1952,NaN
...,...,...,...,...,...
85506,85506,Zambia,"Services, etc., value added (% of GDP)",2007,51.880073
85507,85507,Zambia,Tax revenue (% of GDP),2007,13.867105
85508,85508,Zambia,Time required to start a business (days),2007,34.000000
85509,85509,Zimbabwe,"Agriculture, value added (% of GDP)",2007,21.597907
85510,85510,Zimbabwe,CO2 emissions (metric tons per capita),2007,0.743449
85511,85511,Zimbabwe,Domestic credit provided by financial sector (...,2007,NaN
85512,85512,Zimbabwe,Electric power consumption (kWh per capita),2007,700.642317
85513,85513,Zimbabwe,Energy use (kg of oil equivalent per capita),2007,725.681049
85514,85514,Zimbabwe,Exports of goods and services (% of GDP),2007,37.785373
85515,85515,Zimbabwe,"Fertility rate, total (births per woman)",2007,4.022000
85516,85516,Zimbabwe,GDP growth (annual %),2007,-3.653327
85517,85517,Zimbabwe,"GNI per capita, PPP (current international $)",2007,1320.000000
85518,85518,Zimbabwe,"Gross enrollment ratio, primary, both sexes (%)",2007,NaN
85519,85519,Zimbabwe,"Gross enrolment ratio, secondary, both sexes (%)",2007,NaN
85520,85520,Zimbabwe,High-technology exports (% of manufactured exp...,2007,3.091865
85521,85521,Zimbabwe,Imports of goods and services (% of GDP),2007,46.387531
85522,85522,Zimbabwe,Income share held by lowest 20%,2007,NaN
85523,85523,Zimbabwe,"Industry, value added (% of GDP)",2007,33.074953
85524,85524,Zimbabwe,"Inflation, GDP deflator (annual %)",2007,0.894887
85525,85525,Zimbabwe,Internet users (per 100 people),2007,3.000000
85526,85526,Zimbabwe,"Life expectancy at birth, total (years)",2007,44.177756
85527,85527,Zimbabwe,Military expenditure (% of GDP),2007,NaN
85528,85528,Zimbabwe,Mobile cellular subscriptions (per 100 people),2007,9.620397
85529,85529,Zimbabwe,Net lending (+) / net borrowing (-) (% of GDP),2007,NaN
85530,85530,Zimbabwe,Population density (people per sq. km of land ...,2007,34.374559
85531,85531,Zimbabwe,"Prevalence of HIV, total (% of population ages...",2007,16.500000
85532,85532,Zimbabwe,"Revenue, excluding grants (% of GDP)",2007,NaN
85533,85533,Zimbabwe,"Services, etc., value added (% of GDP)",2007,45.327139
85534,85534,Zimbabwe,Tax revenue (% of GDP),2007,NaN
85535,85535,Zimbabwe,Time required to start a business (days),2007,94.000000

In [16]:
df.columns

Index(['Unnamed: 0', 'Country Name', 'Indicator Name', 'Year', 'Value'], dtype='object')

In [24]:
df.groupby(["Indicator Name", "Value"]).count()

                                                     Unnamed: 0  Country Name  \
Indicator Name                           Value
Agriculture, value added (% of GDP)      0.000000             4             4
                                         0.045595             1             1
                                         0.063230             1             1
                                         0.075255             1             1
                                         0.091456             1             1
                                         0.109942             1             1
                                         0.141592             1             1
                                         0.207757             1             1
                                         0.256796             1             1
                                         0.268606             1             1
                                         0.375713             1             1
                                         0.386727             1             1
                                         0.387397             1             1
                                         0.434712             1             1
                                         0.449522             1             1
                                         0.461028             1             1
                                         0.477517             1             1
                                         0.480541             1             1
                                         0.526837             1             1
                                         0.574023             1             1
                                         0.628423             1             1
                                         0.689655             1             1
                                         0.799296             1             1
                                         0.803050             1             1
                                         0.809038             1             1
                                         0.823067             1             1
                                         0.825477             1             1
                                         0.835399             1             1
                                         0.838590             1             1
                                         0.842514             1             1
...                                                         ...           ...
Time required to start a business (days) 65.234375            1             1
                                         66.000000            1             1
                                         66.939130            1             1
                                         67.500000            1             1
                                         68.000000            1             1
                                         68.333333            1             1
                                         73.000000            1             1
                                         73.500000            1             1
                                         74.000000            1             1
                                         75.400000            1             1
                                         79.583333            1             1
                                         83.000000            2             2
                                         85.000000            1             1
                                         86.000000            1             1
                                         90.000000            1             1
                                         93.000000            1             1
                                         94.000000            1             1
                                         99.000000            1             1
                                         105.000000           1             1
                                         112.000000           1             1
                                         121.500000           1             1
                                         132.500000           1             1
                                         142.000000           1             1
                                         144.000000           1             1
                                         152.000000           1             1
                                         155.000000           1             1
                                         158.000000           1             1
                                         202.000000           1             1
                                         259.500000           1             1
                                         689.500000           1             1

                                                     Year
Indicator Name                           Value
Agriculture, value added (% of GDP)      0.000000       4
                                         0.045595       1
                                         0.063230       1
                                         0.075255       1
                                         0.091456       1
                                         0.109942       1
                                         0.141592       1
                                         0.207757       1
                                         0.256796       1
                                         0.268606       1
                                         0.375713       1
                                         0.386727       1
                                         0.387397       1
                                         0.434712       1
                                         0.449522       1
                                         0.461028       1
                                         0.477517       1
                                         0.480541       1
                                         0.526837       1
                                         0.574023       1
                                         0.628423       1
                                         0.689655       1
                                         0.799296       1
                                         0.803050       1
                                         0.809038       1
                                         0.823067       1
                                         0.825477       1
                                         0.835399       1
                                         0.838590       1
                                         0.842514       1
...                                                   ...
Time required to start a business (days) 65.234375      1
                                         66.000000      1
                                         66.939130      1
                                         67.500000      1
                                         68.000000      1
                                         68.333333      1
                                         73.000000      1
                                         73.500000      1
                                         74.000000      1
                                         75.400000      1
                                         79.583333      1
                                         83.000000      2
                                         85.000000      1
                                         86.000000      1
                                         90.000000      1
                                         93.000000      1
                                         94.000000      1
                                         99.000000      1
                                         105.000000     1
                                         112.000000     1
                                         121.500000     1
                                         132.500000     1
                                         142.000000     1
                                         144.000000     1
                                         152.000000     1
                                         155.000000     1
                                         158.000000     1
                                         202.000000     1
                                         259.500000     1
                                         689.500000     1

[33919 rows x 3 columns]

In [11]:
import dash
from dash.dependencies import Input, Output, Event, State
import dash_html_components as html
import dash_core_components as dcc
import plotly.graph_objs as go
import pandas as pd
import numpy as np
import datetime
from scipy import integrate
from itertools import cycle


app = JupyterDash('SimpleExample')
interval_state = 1000
app.layout = html.Div([
    dcc.Markdown('''

Enter Number of trajectories (e.g. 1 or 2 or 3 or etc...):
'''),
    dcc.Input(
        id='n_traject_input',
        placeholder='Enter a value',
        type='text',
        value= '5'
    ),
    dcc.Interval(
        id='interval-element',
        interval=interval_state,
        n_intervals=0,
        max_intervals=10
    ),
    dcc.Markdown('''

Select frame speed:
'''),
    dcc.RadioItems(id='set-time',
        value=1000,
        options=[
            {'label': '1x', 'value': 1000},
            {'label': '2x', 'value': 500},
            {'label': '4x', 'value': 250},
            {'label': '10x', 'value': 50},
            {'label': 'Off', 'value': 60*60*1000} # or just every hour
        ]),
    dcc.Markdown('''

Epoch state:
'''),
    html.Div(id='display-time'),
    html.Button('Reset animation!', id='button'),

    html.Div([
    dcc.Graph(id='graph-with-slider', animate=True, animation_options = {'frame':{'duration': 0,'redraw': False},
                                                'layout': {'scene': {'xaxis': {'range': [-35, 35], 'autorange': False},
                                                                    'yaxis': {'range': [-40, 40], 'autorange': False},
                                                                    'zaxis': {'range': [-35, 75], 'autorange': False}}},
                                                'transition': {'duration': 0,'ease': 'cubic-in-out'}})
        ], style={'width': 800}),
    html.Div([
        dcc.Slider(
            id='time-slider',
            min=0,
            max=1000
            )
        ], style={'width': 700}),
])

@app.callback(Output('graph-with-slider', 'figure'), [Input('n_traject_input', 'value'),
                                                        Input('time-slider', 'value')],
                                                    [State('graph-with-slider', 'relayoutData')])
def display_data(n_trajectories, n_intervals, relayoutData):
    print(n_intervals)
    x_t, _ = calc_trajectories(int(n_trajectories))
    traces = {'data': [], 'name': str(n_intervals)}
    colors = ['#7FDBFF', '#39CCCC', '#3D9970', '#85144b', '#F012BE', '#B10DC9', 
    '#001f3f', '#0074D9', '#2ECC40', '#01FF70', '#FF4136', '#FFDC00 ','#FF851B', '#AAAAAA']
    for i in range(x_t.shape[0]):
        c = colors[(i + 1) % len(colors)]
        data_dict = {
            'x': x_t[i,:n_intervals+1,0],
            'y': x_t[i,:n_intervals+1,1],
            'z': x_t[i,:n_intervals+1,2],
            'mode': 'lines',
            'line': {'width': 3, 'color': c},
            'name': 'object-'+str(i),
            'type': 'scatter3d',
        }
        traces['data'].append(data_dict)
        data_dict = {
            'x': [x_t[i,n_intervals,0]],
            'y': [x_t[i,n_intervals,1]],
            'z': [x_t[i,n_intervals,2]],
            'mode': 'markers',
            'marker': {'size': 4, 'color': c, 'maxdisplayed': 1},
            'name': 'object-'+str(i),
            'type': 'scatter3d',
            'showlegend': False
        }
        traces['data'].append(data_dict)
    figure = {
        'data': traces,
        'layout': {'scene': {'xaxis': {'range': [-35, 35], 'autorange': False},
                        'yaxis': {'range': [-40, 40], 'autorange': False},
                        'zaxis': {'range': [-35, 75], 'autorange': False},
                        'aspectmode': "cube"
                        },
                'hovermode': 'closest',     
                    }
            }
    return figure

@app.callback(Output('display-time', 'children'), events=[Event('interval-element', 'interval')])
def display_time():
    return str(datetime.datetime.now())

@app.callback(Output('interval-element', 'interval'), [Input('set-time', 'value')])
def update_interval(value):
    return value
    
@app.callback(Output('time-slider', 'value'), [Input('interval-element', 'n_intervals')])
def update_slider_value(n_intervals):
    return n_intervals

@app.callback(Output('interval-element', 'n_intervals'), [Input('button', 'n_clicks')],
                                                events=[Event('n_traject_input', 'change')])
def reset_interval(n_clicks):
    return 0

def lorentz_deriv(data, t0, sigma=10., beta=8./3, rho=28.0):
    """Compute the time-derivative of a Lorentz system."""
    (x,y,z) = data
    return [sigma * (y - x), x * (rho - z) - y, x * y - beta * z]

def calc_trajectories(n_trajectories):
    """
    Choose random starting points, uniformly distributed from -15 to 15
    """
    np.random.seed(1)
    x0 = -15 + 30 * np.random.random((n_trajectories, 3))

    # Solve for the trajectories
    t = np.linspace(0, 4, 1000)
    x_t = np.asarray([integrate.odeint(lorentz_deriv, x0i, t)
                    for x0i in x0])

    return (x_t, t)

app